<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>配置权限</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/noBiaoSetKnowledge.css" />
		<link rel="stylesheet" type="text/css" href="../../css/zTreeStyle/zTreeStyle.css" />
		<style type="text/css">
		</style>
	</head>

	<body style="background: #fff;">
		<div class="main container-fluid">
			<div class="row head numshu_btm">
				<div class="btngroup">
					<input class="commonbtn save" type="button" value="保存"/>
					<input class="commonbtn back" type="button" value="返回"/>
				</div>
			</div>
			<div class="numshu_btm state" style="border-top: 1px solid #CCD2D8;">
				<div class="form-group clearFix">
					<label class="col-sm-1">角色名称</label>
					<label class="col-sm-8 gurisdictionname"></label>
				</div>
			</div>
			<div class="" style="min-height: 250px;height: auto;padding: 10px;border: 1px solid #CCD2D8;">
				<ul id="treeDemo" class="ztree" style="min-height: 240px;overflow: hidden;"></ul>
			</div>
		</div>	
	</body>
	<script type="text/javascript" src="../../js/common/Jquery.3.1.1.js"></script>
	<script type="text/javascript" src="../../js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="../../js/jquery.ztree.excheck.js"></script>
	<script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/jurisdictionManage/config_ztree.js"></script>

</html>