<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>权限管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/knowledge_list.css" />
	</head>
	<style type="text/css">
		[v-cloak] {
			display: none;
		}
		
		td.notes {
			width: 30em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	</style>

	<body>
		<div class="main container-fluid" id="roleList" v-cloak>
			<div class="row head numshu_btm">
				<div class="btngroup">
					<a class="commonbtn" href="javascript:;" value="新建角色" v-on:click="operaterole('新建角色',$event)">新建角色</a>
				</div>
			</div>
			<div class="numshu_btm">
				<div class="list_btm">
					<div class="table-responsive">
						<table class="table table-condensed" style="text-align: center;table-layout: fixed;">
							<thead>
								<tr>
									<td><strong>序号</strong></td>
									<td><strong>角色名称</strong></td>
									<td><strong>角色描述</strong></td>
									<td><strong>操作</strong></td>
								</tr>
							</thead>
							<tbody class="addlist">
								<tr v-for="(item,index) in data">
									<td>{{index+1}}</td>
									<td>{{item.name}}</td>
									<td class="notes">{{item.note}}</td>
									<td>
										<a v-bind:href="'config_user.html?id='+item.id+'&name='+encodeURIComponent(item.name)">配置用户</a>
										<a v-bind:href="'config_gurisdiction.html?id='+item.id+'&name='+encodeURIComponent(item.name)">配置权限</a>
										<a href="javascript:;" v-on:click="editUser(item.id,$event)">编辑</a>
										<a href="javascript:;" v-on:click="delteAdmin(item.id,$event,index)">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row pro_list_btm">
						<div class="col-xs-6 col-sm-3 text-center">

						</div>
						<div class="col-xs-7 col-sm-9">
							<div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
	<script type="text/javascript" src="../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script src="../../js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
	<script>
//		encodeURIComponent()
//		decodeURIComponent()
		var page = 1;
		var pagesize = 10;
		var datajson = {};
		var roleList = new Vue({
			el: '#roleList',
			data: {
				data: "",
				schoolName: "",
				schoolcount: '',
				pagesize: '',
			},
			methods: {
				operaterole: function(text, $event) {
					$('.breadcrumb', window.parent.document).append('<li class="active add_school"><span class="Current_page iframeurl" name="view/jurisdictionManage/role_add.html" style="color: rgb(51, 51, 51); cursor: default;">' + text + '</span></li>');
					$event.target.setAttribute('href', 'role_add.html');
				},
				//配置用户
				/*configUser: function(id,name,e){
					e.target.setAttribute('href',+id);
				},*/
				//配置权限
				/*configGurisdiction: function(id,e){
					e.target.setAttribute('href',+id);
				},*/
				//编辑
				editUser: function(id, e) {
					e.target.setAttribute('href', 'role_add.html?id=' + id);
				},
				//删除
				delteAdmin: function(id, e,ind) {
					layer.open({
						title: '提示',
						shadeClose: false,
						content: '是否确定删除该角色？',
						skin: 'layui-layer-lana',
						btn: ['确定', '取消'],
						yes: function() {
							$.ajax({
								type: 'delete',
								url: org_url + dataUrl.role + id + '?token=' + sessionStorage.token,
								success: function(data) {
									if(data.code == '10010') {
										layer.alert('身份验证失败！请重新登录！', {
											yes: function() {
												parent.location.href = "../../enter.html";
											},
											cancel: function() {
												parent.location.href = "../../enter.html";
											}
										});
										return false;
									}
									if(data === 1) {
										layer.alert('删除成功！', function(index) {
											layer.close(index);
											$(e.target).parents('tr').remove();
											if(ind==0){
												roleList.data = '';
												pages('', page-1);
											}
										});

									} else {
										layer.alert('删除失败！');
									}
								}
							})
						}
					});
				}
			}
		});

		pages('', page);

		function pages(name, page) {
			$('#pageToolbar').html('');

			if(name) {
				datajson = {
					page: page,
					size: pagesize,
					name: name,
					token: sessionStorage.token
				}
			} else {
				datajson = {
					page: page,
					size: pagesize,
					token: sessionStorage.token
				}
			}
			console.log(datajson)
			$.ajax({
				type: "get",
				url: org_url + dataUrl.roles,
				data: datajson,
				async: true,
				success: function(data) {
					if(data.code == '10010') {
						layer.alert('身份验证失败！请重新登录！', {
							yes: function() {
								parent.location.href = "../../enter.html";
							},
							cancel: function() {
								parent.location.href = "../../enter.html";
							}
						});
						return false;
					}
					roleList.data = data.data;
					$('#pageToolbar').Paging({
						pagesize: datajson.size,
						count: data.total,
						toolbar: true,
						hash: true,
						callback: function(p, size, count) {
							console.log(p)
							datajson.page = p;
							datajson.size = size;
							page = p;
							pagesize = size;
							$.ajax({
								type: "get",
								url: org_url + dataUrl.roles,
								data: datajson,
								success: function(data) {
									if(data.code == '10010') {
										layer.alert('身份验证失败！请重新登录！', {
											yes: function() {
												parent.location.href = "../../enter.html";
											},
											cancel: function() {
												parent.location.href = "../../enter.html";
											}
										});
										return false;
									}
									roleList.data = data.data;
								}
							});
						},
						changePagesize: function(ps) {
							datajson.size = ps;
							page =1;
							datajson.page = 1;
//							pagesize = ps;
							$.ajax({
								type: "get",
								url: org_url + dataUrl.roles,
								data: datajson,
								success: function(data) {
									if(data.code == '10010') {
										layer.alert('身份验证失败！请重新登录！', {
											yes: function() {
												parent.location.href = "../../enter.html";
											},
											cancel: function() {
												parent.location.href = "../../enter.html";
											}
										});
										return false;
									}
									roleList.data = data.data;
								}
							});
						}
					});
				}
			});
		}
	</script>

</html>