<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>设置知识点非标准版</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/noBiaoSetKnowledge.css" />
		<link rel="stylesheet" type="text/css" href="../../css/zTreeStyle/zTreeStyle.css"/>
		<style type="text/css">
			.layui-layer-content{height: 178px !important;} 
		</style>
	</head>
	<body style="background: #fff;">
		<div class="main container-fluid clearFix" style="overflow: inherit">
			<h3 class="text-center">初中数学人教版7年级上知识结构</h3>
			<div class="lefttree fl" style="min-height: 250px;height: auto;">
				<ul id="treeDemo" class="ztree" style="min-height: 240px;overflow: hidden;"></ul>
			</div>
			<div class="rightContent fr parentTree">
				<div class="row head">
					<div class="btngroup">
						<span class="combtn">保存</span>
						<span class="combtn">返回</span>
					</div>
				</div>
				<div class="list_btm" >
					<form class="form-horizontal pad_t_20 pad_l_40" role="form">
						<div class="highlevel">所选章节</div>
						<div class="form-group row_2">
							<div class="col-sm-6 row_2">
								<label class="col-sm-4 control-label _list_name"><span class="warn" style="padding-left: 15px;">知识点编号</span></label>
								<div class="col-sm-5">
									<div class="form-control oName"></div>		
								</div>
							</div>
							
						</div>
						<div class="highlevel">知识点</div>		
						<div><input class="commonbtn" type="button" value="添加行" onclick="addRow(this)" /></div>
						<div class="form-group" style="padding: 12px;margin-bottom: 0;">
							<div class="table-responsive" style="border-left: 1px solid #cfcfcf;border-right: 1px solid #cfcfcf;overflow-y: initial;">
								<table id="teacherTab" class="table table-condensed addlist" style="text-align: center;">
									<tr>
										<td><strong>知识点</strong></td>
										<td><strong>操作</strong></td>
									</tr>
									<!--<tr>
										<td>
											<input class="form-control oInputS"  type="text" readonly value="请选择" onclick="showMenu(this);" />
										</td>
										<td>
											<a href="javascript:;" onclick="delRow(this)">删除</a>
											<a href="javascript:;" onclick="fnUp(this)">上移</a>
											<a href="javascript:;" onclick="fnNext(this)">下移</a>
										</td>
									</tr>
									<tr>
										<td>
											<input class="form-control oInputS"  type="text" readonly value="请选择" onclick="showMenu(this);" />
										</td>
										<td>
											<a href="javascript:;" onclick="delRow(this)">删除</a>
											<a href="javascript:;" onclick="fnUp(this)">上移</a>
											<a href="javascript:;" onclick="fnNext(this)">下移</a>
										</td>
									</tr>-->
								</table>
							</div>
						</div>
						
					</form>
				</div>	
			</div>
			<!--根节点-->
			<div class="rightContent fr childTree">
				<div class="row head">
					<div class="btngroup">
						<span class="combtn">保存</span>
						<span class="combtn">删除</span>
						<span class="combtn">上移</span>
						<span class="combtn">下移</span>
						<span class="combtn">返回</span>
						
					</div>
				</div>
				<div class="list_btm" style="overflow: hidden;">
					<form class="form-horizontal pad_t_20 pad_l_40" role="form">
						<div class="highlevel">所选知识点</div>	
						<div class="col-sm-5 oDiZ">
							<!--<input class="form-control oInputS oNoName"  type="text" readonly value="请选择" onclick="showMenu(this);" />-->
						</div>
					</form>
				</div>	
			</div>
			

		<div id="menuContent" class="menuContent" style="display:none; position: absolute;background: #FFFFFF;border: 1px solid #CCCCCC;overflow: auto;">
		    <ul id="treeDemo1" class="ztree" style="margin-top:0; width:300px; height: 300px;"></ul>
		</div>
	</body>
	<script type="text/javascript" src="../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../../js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../js/jquery.ztree.excheck.js"></script>
	
	<script type="text/javascript" src="../../js/knowledge/noBiaoSetKnowledge.js" ></script>
	<script type="text/javascript" src="../../js/knowledge/noBiaoZtree.js"></script>
	<!--<script type="text/javascript" src="../../plugin/ztree/jquery.ztree.core-3.5.js"></script>-->
	
	<script>
		
	/*	$('#pageTool').Paging({pagesize:10,count:100,callback:function(page,size,count){
			console.log(arguments)
			alert('当前第 ' +page +'页,每页 '+size+'条,总页数：'+count+'页')
			}});*/
		
		/*setTimeout(function(){
			$(".mask-tree").show()
			console.log($(".mask-tree"))
			 $(".tree").treemenu({delay:300}).openActive();
		},10)*/
		function aa(){
			var aa=$("#treeDemo li a.curSelectedNode").children("span.node_name").html();
			alert(aa);
		}
	</script>
	
</html>
