<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="wangjian" content="web" />
		<title>教材设置</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../assets/font-awesome.min.css" />
		<link rel="stylesheet" href="../../../assets/ace.min.css" />
		<link rel="stylesheet" href="../../../assets/ace-rtl.min.css" />
		<link rel="stylesheet" href="../../../assets/ace-skins.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/zTreeStyle/zTreeStyle.css"/>
		<link rel="stylesheet" href="../../../css/common/common.css" />
		<link rel="stylesheet" href="../../../css/knowledge/textbook.css" />
	</head>
	<body>
		<style type="text/css">
			[v-cloak] {
			  display: none;
			}
		</style>
		<div id="textbookmain" v-cloak>
		<div class="main container-fluid" style="overflow:inherit;">
			<div class="head numshu_btm">

				<label class="control-label">当前状态:</label>
				<span class="term changeTrem">上学期</span>
				<span class="term">下学期</span>
			</div>

			<div class="oMain">
				<div class="tTree">
					<ul id="treeDemo" class="ztree" style="min-height: 240px;"></ul>
				</div>
				<div class="lefttree fl col-sm-3" style="min-height: 250px;height: auto;">
					<ul class="nav nav-list box_border" id="mainbody">
						<li class="">
							<a href="javascript:;" class="dropdown-toggle">
								<i class="icon-dashboard "></i>
								<span class="menu-text school_all_name">{{schoolName}}</span>
								<b class="arrow icon-angle-down"></b>
							</a>
						</li>
						<li v-if="hasprimary > 0" id="primarygrade">
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text">小学</span><b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu" style="display: block;" v-for="item, index in primary">
								<li class="nav_lis" data-id="'+e.id+'">
									<a href="javascript:;" v-bind:id="'pri-'+index" v-on:click="selectPrimary($event)"><i class="icon-double-angle-right"></i>{{item}}年级</a>
								</li>
							</ul>
						</li>
						<li v-if="hasjunior > 0" id="junirograde">
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text">初中</span><b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu" style="display: block;" v-for="item, index in junior">
								<li class="nav_lis" data-id="'+e.id+'">
									<a href="javascript:;" v-bind:id="'jun-'+index" v-on:click="selectJunior($event)"><i class="icon-double-angle-right"></i>{{item}}年级</a>
								</li>
							</ul>
						</li>
						<li v-if="hassenior > 0" id="seniorgrade">
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text">高中</span><b class="arrow icon-angle-down"></b>
							</a>
							<ul class="submenu" style="display: block;" v-for="item, index in senior">
								<li class="nav_lis" data-id="'+e.id+'">
									<a href="javascript:;" v-bind:id="'sen-'+index" v-on:click="selectSenior($event)"><i class="icon-double-angle-right"></i>{{item}}年级</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="mainList">
					<div class="head">
						<span class="term changeTrem" v-on:click="addTextbookBtn($event)">添加教材</span>
						<!-- <span class="term changeTrem">返回</span> -->
					</div>
					<div class="numshu_btm">
					<div class="list_btm">
					<div class="table-responsive">
						<table class="table table-condensed addlist" style="text-align: center;">
							<tr>
								<td><strong>科目</strong></td>
								<td><strong>上学期教材</strong></td>
								<td><strong>下学期教材</strong></td>
								<td><strong>操作</strong></td>

							</tr>
							<tr v-for="item, index in gradeTextbooks">
								<td>{{item.course.title}}</td>
								<td >
									<template v-for="lastitem, lastindex in item.last">
										<span>{{lastitem.edition.title}}</span>
										<span>{{lastitem.term.title}}</span>
										<p v-show="lastindex < item.last.length - 1">
									</template>
								</td>
								<td>
									<template v-for="nextitem, nextindex in item.next">
										<span>{{nextitem.edition.title}}</span>
										<span>{{nextitem.term.title}}</span>
										<p v-show="nextindex < item.next.length - 1">
									</template>
								</td>
								<td>
									<a href="javascript:;" v-on:click="editGradeTbs(index)">编辑</a>
									<a href="javascript:;" v-on:click="delGradeTbs(index)">删除</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
				</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel" >
							<template v-if="action=='add'">添加教材</template>
							<template v-else>编辑教材</template>
						</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="control-label col-sm-2 ">科目</label>
								<div class="col-sm-4">
									<select name="" class="form-control" v-model="selectedCourse">
										<option v-for="course in courses" v-bind:value="course.id" >
											{{ course.title }}
										</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3">上学期教材</label>
							</div>
							<template v-for="item, index in lasttbs">
								<div class="form-group">
									<label class="control-label col-sm-2">版本</label>
									<div class="col-sm-3">
										<select name="" class="form-control" v-model="item.selectedEdition" v-on:change="changeEdition(1,index)">
											<option v-for="edition in item.editions" v-bind:value="edition.id" >
												{{ edition.title }}
											</option>
										</select>
									</div>
									<label class="control-label col-sm-2 ">年级/课本</label>
									<div class="col-sm-3">
										<select name="" class="form-control" v-model="item.selectedTerm">
											<option v-for="term in item.terms" v-bind:value="term.id" >
												{{ term.title }}
											</option>
										</select>
									</div>
									<span class="glyphicon glyphicon-remove"style="font-size: 16px;line-height: 2;margin-left: 20px;" v-if="index > 0" v-on:click="removeTb(1, index)"></span>
								</div>
							</template>
							<!-- 上学期 1-->
							<!-- 上学期 2-->
							<!-- 上学期 3-->
							<!-- 上学期 4-->
							<div class="form-group addVerJ">
								<label class="col-sm-3 addVerJc" v-on:click="addTx($event)">+添加教材</label>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-3">下学期教材</label>
							</div>
							<template v-for="item, index in nexttbs">
								<div class="form-group" >
									<label class="control-label col-sm-2">版本</label>
									<div class="col-sm-3">
										<select name="" class="form-control" v-model="item.selectedEdition" v-on:change="changeEdition(2,index)">
											<option v-for="edition in item.editions" v-bind:value="edition.id" >
												{{ edition.title }}
											</option>
										</select>
									</div>
									<label class="control-label col-sm-2 ">年级/课本</label>
									<div class="col-sm-3">
										<select name="" class="form-control" v-model="item.selectedTerm">
											<option v-for="term in item.terms" v-bind:value="term.id" >
												{{ term.title }}
											</option>
										</select>
									</div>
									<span class="glyphicon glyphicon-remove"style="font-size: 16px;line-height: 2;margin-left: 20px;" v-if="index > 0" v-on:click="removeTb(2, index)"></span>
								</div>
								
							</template>
							<!-- 下学期 1 -->
							<!-- 下学期 2 -->
							<!-- 下学期 3 -->
							<!-- 下学期 4 -->
							<div class="form-group addVerJ">
								<label class="col-sm-3 addVerJc" v-on:click="addnxTx($event)">+添加教材</label>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">
							取消
						</button>
						<button type="button" class="btn btn-primary" v-on:click="submit($event)">
							确定
						</button>
					</div>
				</div>
			</div>
		</div>
		</div>
	</body>
	<script type="text/javascript" src="../../../js/common/jquery.min2.0.js" ></script>
	<script type="text/javascript" src="../../../js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../../js/dataUrl.js" ></script>
	<script src="../../../assets/ace-extra.min.js"></script>
	<script src="../../../assets/ace-elements.min.js"></script>
	<script src="../../../assets/ace.min.js"></script>
	<script type="text/javascript" src="../../../plugin/ztree/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="../../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../../plugin/vue/vue.js"></script>
	<script type="text/javascript" src="../../../js/dataManage/apicontainer.js" ></script>
	<script type="text/javascript" src="../../../js/constVar.js" ></script>
	<script type="text/javascript" src="../../../js/commonutil.js" ></script>
	<script type="text/javascript">
		var vvm = null;
		var treeNodes = [];
		var idNo = 0;
		var idmap = {};
		var commonList = null;

		$(document).ready(function(){
			getInsTree();
			vm_init();
			getCommonList(function(resp){
				commonList = resp;
			});
		});

		function vm_init(){
			vvm = new Vue({
				el: '#textbookmain',
				data:{
					school:null,
					schoolName:"",
					selectedStage:null,
					selectedGrade:null,
					gradeTextbooks:[],
					primary:[],
					junior:[],
					senior:[],
					hasprimary:0,
					hasjunior:0,
					hassenior:0,
					textbooks:[],

					//添加，编辑
					action:null,
					
					courses:[],  //科目列表
					selectedCourse:0,  //选择的科目

					lasttbs:[],  //上学期
					nexttbs:[],  //下学期

					mapmap:null
				},
				methods:{
					addTextbookBtn: function(event){
						console.log("selectedGrade: " + this.selectedGrade);
						if (this.selectedGrade == null){
							alertMsg("请选择年级后，绑定教材。");
							return;
						}
						initGradeTbs();
						vvm.action = 'add';
						$("#myModal").modal("show");
					},
					changeEdition: function(pos, index){
						//pos = 1 last, = 2 next
						console.log("pos: " + pos + ", index: " + index);
						var item = null;
						if (pos == 1){
							item = vvm.lasttbs[index];
						}else{
							item = vvm.nexttbs[index];
						}
						if (item['selectedEdition'] == 0){
							return;
						}
						item['terms'] = mapTerm(item['selectedEdition']);
						item['selectedTerm'] = 0;
					},
					addTx: function($event){
						var tb = {};
						tb['editions'] = mapEdition(vvm.selectedCourse);
						tb['selectedEdition'] = 0;
						tb['terms'] = [];
						tb['selectedTerm'] = 0;
						vvm.lasttbs.push(tb);
					},
					addnxTx: function($event){
						var tb = {};
						tb['editions'] = mapEdition(vvm.selectedCourse);
						tb['selectedEdition'] = 0;
						tb['terms'] = [];
						tb['selectedTerm'] = 0;
						vvm.nexttbs.push(tb);
					},
					selectPrimary: function($event){
						var tt = $(event.target).attr('id').split('-');
						vvm.selectedGrade = mapGrade("2", parseInt(tt[1]));
						vvm.selectedStage = "2";

						resetGrade();
						$(event.target).parent().addClass('active');
					},
					selectJunior: function($event){
						var tt = $(event.target).attr('id').split('-');
						vvm.selectedGrade = mapGrade("3", parseInt(tt[1]));
						vvm.selectedStage = "3";

						resetGrade();
						$(event.target).parent().addClass('active');
					},
					selectSenior: function($event){
						var tt = $(event.target).attr('id').split('-');
						vvm.selectedGrade = mapGrade("4", parseInt(tt[1]));
						vvm.selectedStage = "4";

						resetGrade();
						$(event.target).parent().addClass('active');
					},
					removeTb: function(pos, index){
						var item = null;
						if (pos == 1){
							vvm.lasttbs.splice(index, 1);
						}else{
							vvm.nexttbs.splice(index, 1);
						}
					},
					submit: function($event){  //给学校的年级添加教材	
						//上学期
						var lasttb = [];
						for (item of vvm.lasttbs){
							var tbid = findTb(vvm.selectedCourse, vvm.selectedStage, item.selectedEdition, item.selectedTerm);
							if (tbid == null){
								return;
							}
							lasttb.push(tbid);
						}
						//下学期
						var nexttb = [];
						for (item of vvm.nexttbs){
							var tbid = findTb(vvm.selectedCourse, vvm.selectedStage, item.selectedEdition, item.selectedTerm);
							if (tbid == null){
								return;
							}
							nexttb.push(tbid);
						}

						var url = org_url + dataUrl['schoolBook']['newSchoolBooks'];
						var tbs = {};
						// tbs['schoolid'] = parseInt(vvm.school['id']);
						tbs['schoolid'] = parseInt(vvm.school['oid']);
						tbs['gradeid'] = vvm.selectedGrade;
						tbs['courseid'] = parseInt(vvm.selectedCourse);
						tbs['last'] = lasttb;
						tbs['next'] = nexttb;

						newSchoolTextbook(function(resp){
							if (vvm.action == "add"){
								commonMsg("创建成功");
							}else{
								commonMsg("编辑成功");
							}
							$("#myModal").modal("hide");
							refreshGradeTB();
						}, tbs);
					},
					editGradeTbs: function(index){
						vvm.action = 'edit';

						var tbs = vvm.gradeTextbooks[index];
						var cid = vvm.gradeTextbooks[index]['course']['id'];
						var cname = commonList['courses'][cid.toString()];

						//科目不可修改
						vvm.courses = [];
						var cc = {'id':cid, 'title':cname};
						vvm.courses.push(cc);
						vvm.selectedCourse = cid;

						vvm.lasttbs = [];
						for (lastitem of tbs.last){
							var moditem = {};
							moditem['editions'] = mapEdition(vvm.selectedCourse);
							moditem['selectedEdition'] = lastitem['edition']['id'];
							moditem['terms'] = mapTerm(lastitem['edition']['id']);
							moditem['selectedTerm'] = lastitem['term']['id'];
							vvm.lasttbs.push(moditem);
						}

						vvm.nexttbs = [];
						for (nextitem of tbs['next']){
							var moditem = {};
							moditem['editions'] = mapEdition(vvm.selectedCourse);
							moditem['selectedEdition'] = nextitem['edition']['id'];
							moditem['terms'] = mapTerm(nextitem['edition']['id']);
							moditem['selectedTerm'] = nextitem['term']['id'];
							vvm.nexttbs.push(moditem);
						}
						$("#myModal").modal("show");
					},
					delGradeTbs: function(index){
						var cid = vvm.gradeTextbooks[index]['course']['id'];

						var url = org_url + dataUrl['schoolBook']['newSchoolBooks'];
						var tbs = {};
						// tbs['schoolid'] = parseInt(vvm.school['id']);
						tbs['schoolid'] = parseInt(vvm.school['oid']);
						tbs['gradeid'] = vvm.selectedGrade;
						tbs['courseid'] = parseInt(cid);
						tbs['last'] = [];
						tbs['next'] = [];

						removeSchoolTextbook(function(resp){
							confirmDialog("是否删除此年级教材", function(resp){
								commonMsg('删除成功');
								vvm.gradeTextbooks.splice(index, 1);
							});
						}, tbs);
					}
				},
				watch:{
					selectedCourse: function(){
						if (vvm.selectedCourse == 0){
							return;
						}
						if (vvm.action != 'add'){
							return;
						}
						
						vvm.lasttbs = [];
						vvm.nexttbs = []
						var tb = initTb();
						vvm.lasttbs.push(tb);
						var tb = initTb();
						vvm.nexttbs.push(tb);
					},
					selectedGrade: function(){
						//大数，获取全部教材
						refreshGradeTB();
					}
				}
			});
		}

		//获取全部教材，然后获取学校年级的教材。
		function refreshGradeTB(){
			var pagesize = 100000;
			getTextbooks(function(resp){
				vvm.textbooks = resp['data'];
				console.log("textbooks: " + JSON.stringify(vvm.textbooks));
				vvm.mapmap = filterTbs();

				//TODO 接下来需要优化
				getSchoolGradeTextbooks(function(resp){
					console.log("schoolgrade textbooks: " + JSON.stringify(resp));
					// console.log("textbooks: " + vvm.textbooks);
					vvm.gradeTextbooks = [];
					for (var i = 0; i < resp.length; i++){
						var item = resp[i];
						var tbs = {};
						tbs['course'] = {};
						tbs['course']['id'] = item['courseid'];
						tbs['course']['title'] = commonList['courses'][item['courseid']];
						tbs['last'] = [];
						var ll = item['last'].split(',');
						for (var k = 0; k < ll.length; k++){
							var ol = {};
							var detail = getTbDetail(ll[k]);
							console.log("detail: " + JSON.stringify(detail));
							ol['edition'] = detail['edition'];
							ol['term'] = detail['term'];
							tbs['last'].push(ol);
						}

						tbs['next'] = [];
						var nn = item['next'].split(',');
						for (var p = 0; p < nn.length; p++){
							var on = {};
							var detail = getTbDetail(nn[p]);
							on['edition'] = detail['edition'];
							on['term'] = detail['term'];
							tbs['next'].push(on);
						}

						vvm.gradeTextbooks.push(tbs);
					}
				}, vvm.school.oid, vvm.selectedGrade);
			}, 1,pagesize,TEXTBOOK_SPECIFY_TYPE, vvm.selectedStage, 0, 0, 0, 2);
		}

		//ztree树形菜单
		var setting = {
			async: {
				enable: false,
				autoParam:["id", "name=n", "level=lv"],
				otherParam:{"otherParam":"zTreeAsyncTest"},
				dataFilter: filter,
				type: 'get'
			},
			view: {
				expandSpeed:"",
				selectedMulti: false,
				fontCss:{
					"fontSize": "14px"
				}
			},
			data: {
				simpleData: {
					enable: true
				}
			},
			callback: {
				onClick:OnClick
			}
		};

		function filter(treeId, parentNode, childNodes) {
			if (!childNodes) return null;
			for (var i=0, l=childNodes.length; i<l; i++) {
				if (childNodes[i].name) {
					childNodes[i].name = childNodes[i].name.replace(/\.n/g, '.');
				} else{
					childNodes[i].name='';
				}
			}
			return childNodes;
		}

		//获取机构树
		function getInsTree(){
			getInstitutionTree(function(resp){
				//重新生成节点id
				for(var i = 0; i < resp.length; i++){
					var item = resp[i];
					item['oid'] = item['id'];
					idNo += 1;
					item['id'] = idNo.toString();
					idmap[item['oid']] = item['id'];
				}

				//重新挂父子节点
				for(var i = 0; i < resp.length; i++){
					var item = resp[i];
					item['pId'] = idmap[item['pId']];
				}
				treeNodes = resp;

				getSchTree();
			});
		}

		//获取学校树，同时挂到机构节点上
		function getSchTree() {
			getSchoolTree(function(resp){
				//重新生成节点id
				for (var i = 0; i < resp['data'].length; i++){
					var item = resp['data'][i];
					item['oid'] = item['id'];
					idNo += 1;
					item['id'] = idNo.toString();
					//挂上父节点
					item['pId'] = idmap[item['institutionid']];
				}

				treeNodes = treeNodes.concat(resp['data']);
				$.fn.zTree.init($("#treeDemo"), setting, treeNodes);
			});
		}

		function initGradeTbs(){
			//科目
			vvm.courses = [];
			for (var i = 0; i < vvm.mapmap['crs'].length; i++){
				var obj = {};
				var cid = vvm.mapmap['crs'][i]
				obj.id = cid;
				obj.title = commonList['courses'][cid.toString()];
				vvm.courses.push(obj);
			}
			console.log("course: " + JSON.stringify(vvm.courses));

			if (vvm.courses.length > 0){
				vvm.selectedCourse = vvm.courses[0]['id'];
			}else{
				vvm.selectedCourse = 0;
			}

			console.log("selectedCourse: " + vvm.selectedCourse);

			//初始化，版本和年级课本
			vvm.lasttbs = [];
			vvm.nexttbs = []
			var tb = initTb();
			vvm.lasttbs.push(tb);
			var tb = initTb();
			vvm.nexttbs.push(tb);
		}

		function initTb(){
			var tb = {};
			if (vvm.selectedCourse == 0){
				tb['editions'] = [];
			}else{
				tb['editions'] = mapEdition(vvm.selectedCourse);
			}
			tb['selectedEdition'] = 0;
			tb['terms'] = [];
			tb['selectedTerm'] = 0;
			return tb;
		}

		function resetvvm(){
			vvm.school = null;
			vvm.schoolName = "";
			vvm.selectedGrade = null;
			// vvm.schoolId="";
			vvm.primary=[];
			vvm.junior=[];
			vvm.senior=[];
			vvm.hasprimary=0;
			vvm.hasjunior=0;
			vvm.hassenior=0;
		}

		function filterTbs(){
			var ret = {};
			var courses = [];
			var courseInEditons = {};
			var editionInTerms = {};

			for (var i = 0; i < vvm.textbooks.length; i++){
				var item = vvm.textbooks[i];

				console.log("courseid: " + item['courseid'] + ", editionid: " + item['editionid'] + ", termid: " + item['termid']);
				if (courses.indexOf(item['courseid']) == -1){
					courses.push(item['courseid']);
				}

				if (item['courseid'] in courseInEditons){
					if (courseInEditons[item['courseid']].indexOf(item['editionid']) == -1){
						courseInEditons[item['courseid']].push(item['editionid']);
					}
				}else{
					courseInEditons[item['courseid']] = [];
					courseInEditons[item['courseid']].push(item['editionid']);
				}

				if (item['editionid'] in editionInTerms){
					if (editionInTerms[item['editionid']].indexOf(item['termid']) == -1){
						editionInTerms[item['editionid']].push(item['termid']);
					}
				}else{
					editionInTerms[item['editionid']] = [];
					editionInTerms[item['editionid']].push(item['termid']);
				}
			}

			ret['crs'] = courses;
			ret['crsinedt'] = courseInEditons;
			ret['edtintm'] = editionInTerms;

			console.log("ret: " + JSON.stringify(ret));

			return ret;
		}

		function mapEdition(courseid){
			var tmpeditions = [];
			var edt = vvm.mapmap['crsinedt'][courseid.toString()];
			for (var i = 0; i < edt.length; i++){
				var obj = {};
				var eid = edt[i];
				obj.id = eid;
				obj.title = commonList['editions'][eid.toString()];
				tmpeditions.push(obj);
			}

			return tmpeditions;
		}

		function mapTerm(editionid){
			var tmpterms = [];
			var tm = vvm.mapmap['edtintm'][editionid.toString()];
			for (var i = 0; i < tm.length; i++){
				var obj = {};
				var tid = tm[i];
				obj.id = tid;
				obj.title = commonList['terms'][tid.toString()];
				tmpterms.push(obj);
			}

			return tmpterms;
		}

		//节点点击
		function OnClick(event, treeId, treeNode) {
			resetvvm();

			// console.log("event: " + JSON.stringify(event));
			console.log("treeId: " + JSON.stringify(treeId));
			console.log("treeNode: " + JSON.stringify(treeNode));

			vvm.school = treeNode;
			vvm.schoolName = treeNode['name'];
			if (("stages" in treeNode) == false){
				return;
			}
			var stages = JSON.parse(treeNode.stages);
			for(var i = 0; i < stages.length; i++){
				a = stages[i];
				console.log("stage : " + JSON.stringify(a));
				if (a['stageId'] == "2"){
					if (a['year'] == "5"){
						vvm.primary = ["一", "二", "三", "四", "五"];
					}
					if (a['year'] == "6"){
						vvm.primary = ["一", "二", "三", "四", "五", "六"];
					}
					vvm.hasprimary = 1;
				}
				if (a['stageId'] == "3"){
					if (a['year'] == "3"){
						vvm.junior = ["一", "二", "三"];
					}
					if (a['year'] == "4"){
						vvm.junior = ["一", "二", "三", "四"];
					}
					vvm.hasjunior = 1;
				}
				if (a['stageId'] == "4"){
					// if (a['years'] == "3"){
					vvm.senior = ["一", "二", "三"];
					// }
					vvm.hassenior = 1;
				}
			}

			if (vvm.hassenior){
				vvm.selectedStage = "4";
				vvm.selectedGrade = mapGrade(vvm.selectedStage, 0);
			}
			if (vvm.hasjunior){
				vvm.selectedStage = "3";
				vvm.selectedGrade = mapGrade(vvm.selectedStage, 0);
			}
			if (vvm.hasprimary){
				vvm.selectedStage = "2";
				vvm.selectedGrade = mapGrade(vvm.selectedStage, 0);
			}
		}

		function resetGrade(){
			$('#primarygrade li').each(function(){
				$(this).removeClass('active')
			});
			$('#junirograde li').each(function(){
				$(this).removeClass('active')
			});
			$('#seniorgrade li').each(function(){
				$(this).removeClass('active')
			});
		}

		function mapGrade(stageid, index){
			var stages = JSON.parse(vvm.school.stages);

			console.log("stages: " + vvm.school.stages);

			//FIXME 先把map表写死
			var pri5 = [4, 5, 6, 7, 8];
			var pri6 = [4, 5, 6, 7, 8, 9];
			var jun3 = [10, 11, 12];
			var jun4 = [9, 10, 11, 12];
			var sen3 = [14, 14, 15];

			var pri = null;
			var jun = null;
			var sen = null;

			for(var i = 0; i < stages.length; i++){
				a = stages[i];
				if (a['stageId'] == "2"){
					pri = a['year'];
				}
				if (a['stageId'] == "3"){
					jun = a['year'];
				}
				if (a['stageId'] == "4"){
					sen = "3";
				}
			}

			if (stageid == "2"){
				if (pri == "5"){
					return pri5[index];
				}
				if (pri == "6"){
					return pri6[index];
				}
			}

			if (stageid == "3"){
				if (jun == "3"){
					return jun3[index];
				}
				if (jun == "4"){
					return jun4[index];
				}
			}

			if (stageid == "4"){
				return sen3[index];
			}
		}

		function getTbDetail(tbid){
			var tb = {};
			for(var i = 0; i < vvm.textbooks.length; i++){
				var t = vvm.textbooks[i];
				if (t['id'] == tbid){
					tb['course'] = {};
					tb['course']['id'] = parseInt(t['courseid']);
					tb['course']['title'] = commonList['courses'][parseInt(t['courseid'])];
					// commonList['courses'][parseInt(t['courseid'])];
					tb['stage'] = {};
					tb['stage']['id'] = parseInt(t['stageid']);	
					tb['stage']['title'] = commonList['stages'][parseInt(t['stageid'])];
					// tb['stage'] = commonList['stages'][parseInt(t['stageid'])];
					tb['edition'] = {};
					tb['edition']['id'] = parseInt(t['editionid']);
					tb['edition']['title'] = commonList['editions'][parseInt(t['editionid'])];
					// tb['edition'] = commonList['editions'][parseInt(t['editionid'])];
					tb['term'] = {};
					tb['term']['id'] = parseInt(t['termid']);
					tb['term']['title'] = commonList['terms'][parseInt(t['termid'])];
					// tb['term'] = commonList['terms'][parseInt(t['termid'])];
					return tb;
				}
			}
		}

		function findTb(courseid, stageid, editionid, termid){
			if (courseid == 0){
				alertMsg("请选择科目");
				return null;
			}
			if (stageid == 0){
				alertMsg("请选择学段");
				return null;
			}
			if (editionid == 0){
				alertMsg("请选择版本");
				return null;
			}
			if (termid == 0){
				alertMsg("请选择年级课本");
				return null;
			}
			for (var i = 0; i < vvm.textbooks.length; i++){
				var item = vvm.textbooks[i];
				if (item['courseid'].toString() == courseid.toString() &&
				    item['stageid'].toString() == stageid.toString() &&
				    item['editionid'].toString() == editionid.toString() &&
				    item['termid'].toString() == termid.toString()){
					return item['id'];
				}
			}
		}
	</script>
</html>
