<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改章节</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugin/layer/skin/layer.css"/>
	</head>
	<body>
		<div class="main container-fluid">
			<div class="row head">
				<div class="btngroup">
					<input class="commonbtn preserve" type="button" value="保存"/>
					<a href="chapterList.html"><input class="commonbtn" type="button" value="返回"/></a>
				</div>
			</div>
			<div class="numshu_btm state" style="border-top: 1px solid #CCD2D8;height: auto;">
				<form class="form-horizontal pad_l_40" role="form">
					<div class="form-group" style="height: 34px;"> 
						<label for="" class="col-sm-1 control-label text-center warn">学段</label>
						<div class="col-sm-2">
							<select class="form-control _select period">
								<option value="">请选择</option>
								<option value="2">小学</option>
								<option value="3">初中</option>
								<option value="4">高中</option>
							</select>		
						</div>
					</div>
					<div class="form-group" style="height: 34px;"> 
						<label for="" class="col-sm-1 control-label text-center warn">科目</label>
						<div class="col-sm-2">
							<select class="form-control _select column">
								<option value="">请选择</option>
								<option value="2">语文</option>
								<option value="3">数学</option>
								<option value="4">英语</option>
								<option value="5">物理</option>
								<option value="6">化学</option>
								<option value="7">生物</option>
								<option value="8">政治</option>
								<option value="9">地理</option>
								<option value="10">历史</option>
							</select>		
						</div>
					</div>
					<div class="form-group" style="height: 34px;"> 
						<label for="" class="col-sm-1 control-label text-center warn">版本</label>
						<div class="col-sm-2">
							<select class="form-control _select version">
								<option value="">请选择</option>
								<option value="2">人教版</option>
							</select>		
						</div>
					</div>
					<div class="form-group" style="height: 34px;"> 
						<label for="" class="col-sm-1 control-label text-center warn">年级/课本</label>
						<div class="col-sm-2">
							<select class="form-control _select classis">
								<option value="">请选择</option>
								<option value="2">一年级上</option>
								<option value="3">一年级下</option>
								<option value="4">二年级上</option>
								<option value="5">二年级下</option>
								<option value="6">三年级上</option>
								<option value="7">三年级下</option>
								<option value="8">四年级上</option>
								<option value="9">四年级下</option>
								<option value="10">五年级上</option>
								<option value="11">五年级下</option>
								<option value="12">六年级上</option>
								<option value="13">六年级下</option>
								<option value="14">七年级上</option>
								<option value="15">七年级下</option>
								<option value="16">八年级上</option>
								<option value="17">八年级下</option>
								<option value="18">九年级上</option>
								<option value="19">九年级下</option>
								<option value="20">必修1</option>
								<option value="21">必修2</option>
								<option value="22">必修3</option>
								<option value="23">必修4</option>
								<option value="24">必修5</option>
								<option value="25">选修1</option>
								<option value="26">选修2</option>
								<option value="27">选修3</option>
								<option value="28">选修4</option>
								<option value="29">选修5</option>
								<option value="30">选修6</option>
								<option value="31">选修7</option>
								<option value="32">选修8</option>
								<option value="33">选修9</option>
								<option value="34">选修10</option>
							</select>		
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../../js/dataManage/addChapter.js"></script>
</html>



