<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>设置知识点</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css" />
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/zTreeStyle/zTreeStyle.css" />
		<style type="text/css">
			.none{display: none;}
			.ztree1{
				margin-top:0; 
				width:180px; 
				height: 300px;    
			    border: 1px solid #617775;
			    background: #f0f6e4;
			    width: 220px;
			    height: 360px;
			    overflow-y: scroll;
			    overflow-x: auto;"
			}
		</style>
	</head>

	<body style="background: #fff;">
		<div class="main container-fluid clearFix">
			<div style="width: 100%;text-align: center;height: 80px;line-height: 80px;font-size:20px;font-weight: bold;">设置知识点</div>
			<div class="lefttree fl" style="min-height: 250px;height: auto;">
				<ul id="treeDemo" class="ztree" style="min-height: 240px;overflow: hidden;"></ul>
			</div>
			<div class="rightContent fr">
				<div class="row head">
					<div class="btngroup">
						<input class="commonbtn save_knonwledge" type="button" value="保存" />
						<input class="commonbtn back_chaper_konwledgelist" type="button" value="返回" />
					</div>
				</div>
				<div class="list_btm" style="padding-bottom: 0;">
					<form class="form-horizontal pad_t_20 pad_l_40" role="form">
						<div class="form-group none">
							<label class="col-sm-2"><input id="chapterName1" name="chapterknowledge" class="" type="radio" value="1" checked>下级章节</label>
							<label class="col-sm-2"><input id="chapterName2" name="chapterknowledge" class="" type="radio" value="2" disabled>分配知识点</label>
						</div>
						<div class="form-group"><label class="col-sm-2">所选知识点	</label></div>
						<div id="otherNode" class="form-group col_1">
							<label class="col-sm-2 control-label  "><span class="warn" style="padding-left: 20px;">章节编号：</span></label>
							<div class="col-sm-3  ">
								<input id="chapterCode" class="form-control" type="text" value="">
							</div>
							<label class="col-sm-2 control-label  "><span class="warn" style="padding-left: 20px;">章节名称：</span></label>
							<div class="col-sm-3  ">
								<input id="chapterName" class="form-control" type="text" value="">
							</div>
						</div>
						<div id="otherNode1" class="form-group col_1 otherNode_konwled none">
							<label class="col-sm-2 control-label _list_name text_l"><span class="warn" style="padding-left: 20px;">知识点编号：</span></label>
							<div class="col-sm-3 _list_name text_l">
								<input id="konwledgeCode" class="form-control" type="text" value="">
							</div>
							<label class="col-sm-2 control-label _list_name text_l"><span class="warn" style="padding-left: 20px;">知识点名称：</span></label>
							<div class="col-sm-3 _list_name text_l">
								<input id="konwledgeName" class="form-control" type="text" value="">
							</div>
						</div>
						<div id="knowledge1" class="form-group otherNode_konwled none">
							<label class="col-sm-2 control-label _list_name text_l">前置知识点：</label>
							<div class="col-sm-3 _list_name text_l">
								<input id="prevknowledgeName" class="form-control" type="text" value="" onclick="showMenu();" readonly>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
				<ul id="treeDemo1" class="ztree ztree1"></ul>
			</div>
	</body>
	<script type="text/javascript" src="../../../js/common/Jquery.3.1.1.js"></script>
	<script type="text/javascript" src="../../../js/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="../../../js/jquery.ztree.excheck.js"></script>
	<script type="text/javascript" src="../../../js/jquery.ztree.exedit.js"></script>
	<script type="text/javascript" src="../../../plugin/layer/layer.js"></script>
	<script src="../../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../../js/dataManage/setKonwledge.js"></script>
	<script>
		$(function() {

		})
	</script>

</html>