<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="wangjian" content="web" />
		<title>新建知识点</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../../css/common/common.css" />
	</head>
	<body>
		<div class="main container-fluid" style="overflow:inherit;">
			<div class="row head numshu_btm">
				<div class="btngroup">
					<input class="commonbtn save" type="button" value="保存"/>
					<input class="commonbtn back" type="button" value="返回"/>
				</div>
			</div>
			<div class="list_btm">
				
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-3 control-label  text-right">
							<span class="warn" style="padding-left: 20px;">知识结构标准类型</span>
						</label>
						<div class="col-sm-3">
							<label for="standard" class="checkbox-inline">
								<input type="radio" id="standard" checked="checked" />
								标准型
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label text-right">
							<span class="warn" style="padding-left: 20px;">学段</span>
						</label>
						<div class="col-sm-3">
							<select  class="selectpicker form-control secondname" >
						      	<option value="">请选择</option>
								<option value="2">小学</option>
								<option value="3">初中</option>
								<option value="4">高中</option>
						      </select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label text-right">
							<span class="warn" style="padding-left: 20px;">科目</span>
						</label>
						<div class="col-sm-3">
							<select name="" class="form-control selectpicker grade"  data-live-search="true">
								<option value="">请选择</option>
								<option>语文</option>
								<option>数学</option>
								<option>英语</option>
								<option>物理</option>
								<option>化学</option>
								<option>生物</option>
								<option>政治</option>
								<option>地理</option>
								<option>历史</option>
							</select>	
						</div>
					</div>
				</div>
				
			
			</div>
		</div>	
					
	</body>
	<script type="text/javascript" src="../../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../../js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../../plugin/bootstrap-select/js/bootstrap-select.min.js" ></script>
	<script type="text/javascript" src="../../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../../js/knowledge/add_knowledge.js" ></script>
</html>
