<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>设置知识点标准版</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../css/common/common.css" />
		<link rel="stylesheet" href="../../../css/knowledge/setKnowledge.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/zTreeStyle/zTreeStyle.css"/>
		<style type="text/css">
			.layui-layer-content{height: 178px !important;} 
		</style>
	</head>
	<body style="background: #fff;">
		<div class="main container-fluid clearFix">
			<h3 class="text-center">初中数学人教版7年级上知识结构</h3>
			<div class="lefttree fl" style="min-height: 250px;height: auto;">
				<ul id="treeDemo" class="ztree" style="min-height: 240px;overflow: hidden;"></ul>
			</div>
			<div class="rightContent fr parentTree">
				<div class="row head">
					<div class="btngroup">
						<span class="combtn">保存</span>
						<span class="combtn">返回</span>
					</div>
				</div>
				<div class="list_btm">
					<form class="form-horizontal pad_t_20 pad_l_40" role="form">
						<div class="highlevel">所选知识点</div>	
						<div class="form-group row_2">
							<div class="col-sm-6 row_2">
								<label class="col-sm-4 control-label _list_name"><span class="warn" style="padding-left: 15px;">知识点编号</span></label>
								<div class="col-sm-5">
									<input class="form-control oNum noTreeRoot"  type="text" placeholder="">
									<div class="form-control treeRoot">--</div>
								</div>
							</div>
							<div class="col-sm-6 row_2">
								<label class="col-sm-4 control-label _list_name"><span class="warn" style="padding-left: 15px;">知识点名称</span></label>
								<div class="col-sm-5">
									<input class="form-control oName noTreeRoot"  type="text" placeholder="">
									<div class="form-control treeRoot">根目录</div>
								</div>
							</div>
						</div>
						<div class="highlevel noHasNext">下级知识点</div>		
						<div><input class="commonbtn addRow noHasNext" type="button" value="添加行"/></div>
						<div class="form-group noHasNext" style="padding: 12px;margin-bottom: 0;">
							<div class="table-responsive" style="border-left: 1px solid #cfcfcf;border-right: 1px solid #cfcfcf;">
								<table id="teacherTab" class="table table-condensed addlist" style="text-align: center;">
									<tr class="oFirstTr">
										<td><strong>知识点编号</strong></td>
										<td><strong>知识点名称</strong></td>
										<td><strong>操作</strong></td>
										
									</tr>
									<!--<tr>
										<td>
											<input class="form-control zsd" type="text" value="11">
										</td>
										<td>
											<input class="form-control zsdName" type="text" value="123">
										</td>
										
										<td>
											<a href="javascript:;" onclick="delRow(this)">删除</a>
											<a href="javascript:;"  class="upClick" onclick="fnUp(this)">上移</a>
											<a href="javascript:;" class="downClick" onclick="fnNext(this)">下移</a>
										</td>
									</tr>
									<tr>
										<td>
											<input class="form-control zsd" type="text" value="11">
										</td>
										<td>
											<input class="form-control zsdName" type="text" value="123">
										</td>
										
										<td>
											<a href="javascript:;" onclick="delRow(this)">删除</a>
											<a href="javascript:;"  class="upClick" onclick="fnUp(this)">上移</a>
											<a href="javascript:;" class="downClick" onclick="fnNext(this)">下移</a>
										</td>
									</tr>-->
								</table>
							</div>
						</div>
						
					</form>
				</div>	
			</div>
			<!--根节点-->
			<!--<div class="rightContent fr childTree">
				<div class="row head">
					<div class="btngroup">
						<span class="combtn">保存</span>
						<span class="combtn">返回</span>
					</div>
				</div>
				<div class="list_btm">
					<form class="form-horizontal pad_t_20 pad_l_40" role="form">
						<div class="highlevel">所选知识点</div>	
						<div class="form-group row_2">
							<div class="col-sm-6 row_2">
								<label class="col-sm-4 control-label _list_name"><span class="warn" style="padding-left: 15px;">知识点编号</span></label>
								<div class="col-sm-5">
								<div class="form-control">--</div>	
								</div>
							</div>
							<div class="col-sm-6 row_2">
								<label class="col-sm-4 control-label _list_name"><span class="warn" style="padding-left: 15px;">知识点名称</span></label>
								<div class="col-sm-5">
									<div class="form-control">根目录</div>		
								</div>
							</div>
						</div>
						<div class="highlevel">下级知识点</div>		
						<div><input class="commonbtn addRow1" type="button" value="添加行"/></div>
						<div class="form-group" style="padding: 12px;margin-bottom: 0;">
							<div class="table-responsive" style="border-left: 1px solid #cfcfcf;border-right: 1px solid #cfcfcf;">
								<table id="teacherTab1" class="table table-condensed addlist" style="text-align: center;">
									<tr>
										<td><strong>知识点编号</strong></td>
										<td><strong>知识点名称</strong></td>
										<td><strong>操作</strong></td>
									</tr>
									<tr>
										<td>
											<input class="form-control" type="text" value="3">
										</td>
										<td>
											<input class="form-control" type="text" value="1">
										</td>
										<td>
											<a href="javascript:;" onclick="delRow(this)">删除</a>
											<a href="javascript:;"  class="upClick" onclick="fnUp(this)">上移</a>
											<a href="javascript:;" class="downClick" onclick="fnNext(this)">下移</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
						
					</form>
				</div>	
			</div>-->
	</body>
	<script type="text/javascript" src="../../../js/jquery-1.11.2.min.js" ></script>
	
	<script type="text/javascript" src="../../../js/knowledge/setKnowledge.js" ></script>
	<script type="text/javascript" src="../../../js/knowledge/ztree.js"></script>
	<script type="text/javascript" src="../../../plugin/ztree/jquery.ztree.core-3.5.js"></script>
	<script>
		
	
		function aa(){
			var aa=$("#treeDemo li a.curSelectedNode").children("span.node_name").html();
			alert(aa);
		}
		//删除行
			function delRow(obj) {
			   console.log(obj.parentElement.parentElement)
			    var rowIndex = obj.parentElement.parentElement.rowIndex;  
			  	obj.parentElement.parentElement.parentElement.deleteRow(rowIndex); 
			}
	</script>
	
</html>
