<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="wangjian" content="web" />
		<title>新建教师</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<style type="text/css">
			.delete_line:hover{
				color: red;
			}
			.none{
				display: none;
			}
			.subject_grade_lists{
				text-align: center;
			}
			.subject_grade_lists th{
				text-align: center;
			}
			.subject_grade_lists_td select{
				border: 0;
				box-shadow: none;
				text-align: center;
			}
			.subject_grade_lists_td span{
				padding: 10px 20px;
			}
			.subject_grade_lists_td span:hover{
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<style type="text/css">
			[v-cloak] {
			  display: none;
			}
		</style>
		<div class="main container-fluid" style="overflow:inherit;" id="mainbody" v-cloak>
			<div class="row head numshu_btm">
				<div class="btngroup">
					<input class="commonbtn save" type="button" v-on:click="submit($event)" value="保存"/>
					<input class="commonbtn back" type="button" v-on:click="back($event)" value="返回"/>
				</div>
			</div>
			<div class="list_btm">

				<div class="form-horizontal">
					<div class="form-group">
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">姓名</span>
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" value="" maxlength="20" v-model="teacherName" v-bind:readonly="readonly"/>
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">手机号</span>
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" value="" maxlength="11" v-model="teacherMobile" v-bind:readonly="readonly"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">学校</span>
						</label>
						<div class="col-sm-3">
							<select  class="form-control" v-model="selectedSchool" v-on:change="changeschool()" >
								<option v-for="school in schools" v-bind:value="school.id">
									{{ school.name }}
								</option>
						      </select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">身份证号</span>
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" value="" maxlength="18" v-model="idcard" v-bind:readonly="readonly"/>
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">性别</span>
						</label>
						<div class="col-sm-3">
							<select name="" class="form-control" v-model="sex">
								<option value="">请选择</option>
								<option value="M">男</option>
								<option value="F">女</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">出生年月</span>
						</label>
						<div class="col-sm-3 input-append date form_datetime" id="app">
				            <datepicker language="ch" v-model="birth"></datepicker>
				        </div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">任教科目及班级</span>
						</label>
						<div class="col-sm-9">
							<table border="1" class="table">
								<tr>
									<th>序号</th>
									<th>任教年级</th>
									<th>任教班级</th>
									<th>任教科目</th>
									<th>是否该班班主任</th>
									<th>操作</th>
								</tr>
								<tr v-for="item, index in bindclazz">
									<td>{{index+1}}</td>
									<td>
										<select v-model="item.selectedGrade" v-on:change="changegrade($event,index)" v-bind:addid="index">
											<option v-for="grade in item.grades" v-bind:value="grade.id">
												{{ grade.title }}
											</option>
										</select>
									</td>
									<td>
										<select v-model="item.selectedClazz">
											<option v-for="clazz in item.clazzs" v-bind:value="clazz.id">
												{{ clazz.title }}
											</option>
										</select>
									</td>
									<td>
										<select v-model="item.selectedCourse">
											<option v-for="course in courses" v-bind:value="course.id">
												{{ course.title }}
											</option>
										</select>
									</td>
									<td>
										<select v-model="item.selectedAdvise">
											<option value="2">请选择</option>
											<option value="1">是</option>
											<option value="0">否</option>
										</select>
									</td>
									<td>
										<a href="javascript:;" class="_a_space forbidden" v-on:click="delBind(index)" v-show="index>0">删除</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;"></span>
						</label>
						<div class="col-sm-1">
							<button class="btn" v-on:click="addBind($event)">添加行</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/dataUrl.js" ></script>
	<script type="text/javascript" src="../../plugin/vue/vue.js"></script>
	<script type="text/javascript" src="../../plugin/vue-date/index.js"></script>
	<script type="text/javascript" src="../../js/dataManage/apicontainer.js" ></script>
	<script type="text/javascript" src="../../js/commonutil.js" ></script>
	<script type="text/javascript" src="../../js/checkutil.js" ></script>
	<script type="text/javascript">
		var vvm = null;
		var commonList = null;
		var modteacher = null
		var tchdata = getQueryString('data');
		if (tchdata){
			modteacher = JSON.parse(decodeURI(tchdata));
		}
		var readonly;
		var action = getQueryString('action');
		// 如果是查看，select 不可选
		if(action == 'view'){
			readonly = true;
			$("select").attr("disabled", "disabled"); 
		}else{
			readonly = false;
		}

		$(document).ready(function() {
		    getCommonList(function(resp){
				commonList = resp;
				vm_init();
				//课程列表
				var defaultcourse = {"title":"请选择","id":0};
				vvm.courses.push(defaultcourse);
				for (k in commonList['courses']){
					var obj = {};
					obj['id'] = parseInt(k);
					obj['title'] = commonList['courses'][k]
					vvm.courses.push(obj);
				}
				initTeacher();
			});
		});

		function vm_init(){
			vvm = new Vue({
				el: '#mainbody',
				data:{
					teacherName:null,
					teacherMobile:null,
					schools:[],
					selectedSchool:0,
					schoolclazz:[],

					clazzgroup:[],
					idcard:null,
					sex:"",
					birth:null,
					courses:[],
					
					bindclazz:[],  //绑定的班级
					readonly:readonly,
				},
				components: { 
					datepicker
				},
				methods:{
					addBind: function(event){
						if (this.readonly){
							alertMsg('不可编辑');
							return;
						}
						if (vvm.selectedSchool == 0){
							alertMsg('请先选择学校')
							return;
						}
						var nbc = newBindClazz();
						nbc['grades'] = nbc['grades'].concat(gradesOfSchoolClazz());
						vvm.bindclazz.push(nbc);
					},
					delBind: function(event, index){
						if (this.readonly){
							alertMsg("不可编辑");
							return;
						}
						this.bindclazz = this.bindclazz.splice(index, 1)
					},
					changeschool: function(){
						console.log("changeschool: " + this.selectedSchool);
						getSchoolClazz(function(){
							var bc = newBindClazz();
							bc['grades'] = bc['grades'].concat(gradesOfSchoolClazz());
							vvm.bindclazz = [];
							vvm.bindclazz.push(bc);
						}, vvm.selectedSchool);
					},
					changegrade: function(event, index){
						console.log("changegrade: " + index);
						var binditem = vvm.bindclazz[index];
						var gradeclazz = gradeclazzOfSchoolClazz(binditem['selectedGrade'])
						binditem['clazzs'] = binditem['clazzs'].concat(gradeclazz);
						binditem['selectedClazz'] = "0";
					},
					submit: function(event){
						if (this.readonly){
							alertMsg("不可编辑");
							return;
						}
						var req = {};
						if (modteacher){
							req['id'] = modteacher['id'];
						}
						//检查输入
						if(!vvm.teacherName){
							alertMsg("姓名不能为空");
							return;
						}
						req['name'] = vvm.teacherName;
						if (!checkMobile(vvm.teacherMobile)){
							alertMsg("手机号格式不正确");
							return;
						}
						req['phone'] = vvm.teacherMobile;
						if (vvm.selectedSchool == 0){
							alertMsg("学校不能为空");
							return;
						}
						req['schoolid'] = vvm.selectedSchool;

						if (vvm.idcard){
							if (IdentityCodeValid(vvm.idcard) == false){
								alertMsg("身份证格式不正确");
								return;
							}else{
								req['idcard'] = vvm.idcard;
							}
						}
						if (vvm.sex != ""){
							req['sex'] = vvm.sex;
						}
						if (vvm.birth){
							req['birth'] = vvm.birth;
						}

						if (vvm.bindclazz.length > 0){
							req['teacherclasslis'] = [];
							for (var i = 0; i < vvm.bindclazz.length; i++){
								var item = vvm.bindclazz[i];
								var obj = {};
								if (item['selectedClazz'] == 0){
									alertMsg("班级不能为空");
									return;
								}else{
									obj['clazzid'] = item['selectedClazz'];
								}
								if (item['selectedCourse'] == 0){
									alertMsg("科目不能为空");
									return;
								}else{
									obj['courseid'] = item['selectedCourse'];
								}
								
								//如果是班主任，传值
								if (item['selectedAdvise'] == 1){
									obj['adviserid'] = "1";
								}
								req['teacherclasslis'].push(obj);
							}

							if (hasdupitem(req['teacherclasslis'])){
								alertMsg("选择了重复的班级和科目，请重新选择");
								return;
							}
							//过滤重复班级
							// req['teacherclasslis'] = filterDupItem(req['teacherclasslis']);
						}

						if (action == 'edit'){
							updateTeacher(function(resp){
				                layer.alert("保存成功", function(){
				                	window.location.href = "teacher_list.html";
				                });
				            }, req);
						}else{
							addTeacher(function(resp){
								layer.alert("创建成功", function(){
				                	window.location.href = "teacher_list.html";
				                });
							}, req);
						}
					},
					back: function(event){
						window.location.href = "teacher_list.html";
					}
				}
			});
		}

		function initTeacher(){
			getSchools(function(){
				if(action == 'edit' || action == 'view'){
					//编辑，查看
					vvm.selectedSchool = modteacher['schoolid'];
					getSchoolClazz(function(){
						//获取教师信息
						getTeacherDetail(modteacher['id']);

						// //load 教师的班级信息
						vvm.bindclazz = [];
						for (clazz of modteacher['clazzlis']){
							var c = {};
							c['selectedGrade'] = clazz['gradeid'];
							c['selectedClazz'] = clazz['clazzid'];
							c['selectedCourse'] = clazz['courseid'];
							//如果有这个值，表明是班主任。
							if ("adviserid" in clazz){
								c['selectedAdvise'] = 1;
							}
							c['clazzs'] = gradeclazzOfSchoolClazz(c['selectedGrade']);
							c['grades'] = gradesOfSchoolClazz();
							vvm.bindclazz.push(c);
						}
						console.log(vvm.bindclazz);
					}, vvm.selectedSchool);
				}else{
					//新建
					vvm.bindclazz.push(newBindClazz());
				}
			});
		}

		function getSchools(cbfunc){
			getSchoolTree(function(resp){
				var defaultschool = {"name":"请选择", "id":0};
				vvm.schools.push(defaultschool);
				vvm.schools = vvm.schools.concat(resp['data']);
				cbfunc(resp);
			});
		}

		function getSchoolClazz(cbfunc, schoolid){
			getClazz(function(resp){
				vvm.schoolclazz = resp;
				// console.log('schoolclazz: ' + JSON.stringify(vvm.schoolclazz));
				cbfunc(resp);
			}, schoolid);
		}

		function getTeacherDetail(tid){
			getTeacher(function(resp){
				vvm.teacherName = resp['name'];
				vvm.teacherMobile = resp['phone'];
				vvm.selectedSchool = resp['schoolid'];
				vvm.idcard = resp['idcard'];
				vvm.sex = resp['sex'];
				if (resp['birth']){
					var date = new Date(resp['birth']);
					vvm.birth = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
				}
			}, tid);
		}

		function gradesOfSchoolClazz(){
			var grades = [];
			for (clazz of vvm.schoolclazz){
				var g = {"id": clazz['gradeid'],"title":clazz['gradename']};
				pushUniqe(g, grades);
			}
			return grades;
		}

		function gradeclazzOfSchoolClazz(gradeid){
			var clazzes = [];
			for (clazz of vvm.schoolclazz){
				if (clazz['gradeid'] == gradeid){
					var c = {"id":clazz['id'],"title":clazz['name']};
					clazzes.push(c);
				}
			}
			return clazzes;
		}

		function newBindClazz(){
			var bc = {};
			bc['grades'] = [];
			var defaultg = {"id":0, "title":"请选择"};
			bc['grades'].push(defaultg);
			bc['clazzs'] = [];
			bc['clazzs'].push({"id":0, "title":"请选择"});
			bc['selectedGrade'] = "0";
			bc["selectedClazz"] = "0";
			bc['selectedCourse'] = "0";
			bc['selectedAdvise'] = "2";
			return bc;
		}

		function filterDupItem(list){
		    filtered = list.filter(function (a) {
		        var key = Object.keys(a).map(function (k) { return a[k]; }).join('|');
		        if (!this[key]) {
		            return this[key] = true;
	        	}
    		}, Object.create(null));

    		return filtered;
		}

		function hasdupitem(items){
			for(var i = 0; i < items.length; i++){
				var a = items[i];
				for(var j = 0; j < items.length; j++){
					var b = items[j];
					if (a['clazzid'] == b['clazzid'] && a['courseid'] == b['courseid'] && i!=j){
						console.log("dup item: " + JSON.stringify(a) + ", " + JSON.stringify(b));
						return true;
					}
				}
			}
			return false;
		}

		//push obj, 但是去重
		function pushUniqe(obj, list){
			for (l of list){
				if (l['id'] == obj['id'] && l['title'] == obj['title']){
					return;
				}
			}
			list.push(obj);
		}
	</script>

</html>
