<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="wangjian" content="web" />
		<title>新建教师</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<style type="text/css">
			.delete_line:hover{
				color: red;
			}
			.none{
				display: none;
			}
			.subject_grade_lists{
				text-align: center;
			}
			.subject_grade_lists th{
				text-align: center;
			}
			.subject_grade_lists_td select{
				border: 0;
				box-shadow: none;
				text-align: center;
			}
			.subject_grade_lists_td span{
				padding: 10px 20px;
			}
			.subject_grade_lists_td span:hover{
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<style type="text/css">
			[v-cloak] {
			  display: none;
			}
		</style>
		<div class="main container-fluid" style="overflow:inherit;" id="mainbody" v-cloak>
			<div class="row head numshu_btm">
				<div class="btngroup">
					<input class="commonbtn save" type="button" v-on:click="submit($event)" value="保存"/>
					<input class="commonbtn back" type="button" v-on:click="back($event)" value="返回"/>
				</div>
			</div>
			<div class="list_btm">

				<div class="form-horizontal">
					<div class="form-group">
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">姓名</span>
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" value="" v-model="teacherName"/>
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">手机号</span>
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" value="" v-model="teacherMobile"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">学校</span>
						</label>
						<div class="col-sm-3">
							<select  class="form-control" v-model="selectedSchool">
								<option v-for="school in schools" v-bind:value="school.id">
									{{ school.name }}
								</option>
						      </select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">身份证号</span>
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" value="" v-model="idcard"/>
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">性别</span>
						</label>
						<div class="col-sm-3">
							<select name="" class="form-control" v-model="sex">
								<option value="">请选择</option>
								<option value="M">男</option>
								<option value="F">女</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">出生年月</span>
						</label>
						<div class="col-sm-3 input-append date form_datetime" id="app">
				            <datepicker language="ch" v-model="birth"></datepicker>
				        </div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">任教科目及班级</span>
						</label>
						<div class="col-sm-9">
							<table border="1" class="table">
								<tr>
									<th>序号</th>
									<th>任教年级</th>
									<th>任教班级</th>
									<th>任教科目</th>
									<th>是否该班班主任</th>
									<th>操作</th>
								</tr>
								<tr v-for="item, index in bindclazz">
									<td>{{index+1}}</td>
									<td>
										<select v-model="item.selectedGrade" v-on:change="changegrade($event,index)" v-bind:addid="index">
											<option v-for="grade in item.grades" v-bind:value="grade.id">
												{{ grade.title }}
											</option>
										</select>
									</td>
									<td>
										<select v-model="item.selectedClazz">
											<option v-for="clazz in item.clazzs" v-bind:value="clazz.id">
												{{ clazz.name }}
											</option>
										</select>
									</td>
									<td>
										<select v-model="item.selectedCourse">
											<option v-for="course in courses" v-bind:value="course.id">
												{{ course.title }}
											</option>
										</select>
									</td>
									<td>
										<select v-model="item.selectedAdvise">
											<option value="2">请选择</option>
											<option value="1">是</option>
											<option value="0">否</option>
										</select>
									</td>
									<td>
										<a href="javascript:;" class="_a_space forbidden" v-on:click="delClazz($event, index)">删除</a>
									</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;"></span>
						</label>
						<div class="col-sm-1">
							<button class="btn" v-on:click="addBind($event)">添加行</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/dataUrl.js" ></script>
	<script type="text/javascript" src="../../plugin/vue/vue.js"></script>
	<script type="text/javascript" src="../../plugin/vue-date/index.js"></script>
	<script type="text/javascript" src="../../js/dataManage/apicontainer.js" ></script>
	<script type="text/javascript" src="../../js/commonutil.js" ></script>
	<script type="text/javascript" src="../../js/checkutil.js" ></script>
	<script type="text/javascript" src="../../js/checkutil.js" ></script>
	<script type="text/javascript">
		var vvm = null;
		var commonList = null;
		var tch = null;
		var tchdata = getQueryString('data');
		if (tchdata){
			tch = JSON.parse(decodeURI(tchdata));
		}

		$(document).ready(function() {
			vm_init();
		    loadSchools();
		    getCommonList(function(resp){
				commonList = resp;
				var obj = {"id":0, "title":"请选择"};
				vvm.courses.push(obj);
				for (k in commonList['courses']){
					var obj = {};
					obj['id'] = parseInt(k);
					obj['title'] = commonList['courses'][k]
					vvm.courses.push(obj);
				}
			});

		});

		function vm_init(){
			var schools = new Array();
			var defaultschool = {"name":"请选择", "id":0};
			schools.push(defaultschool);

			vvm = new Vue({
				el: '#mainbody',
				data:{
					teacherName:null,
					teacherMobile:null,
					schools:schools,
					selectedSchool:defaultschool.id,
					clazzgroup:[],
					idcard:null,
					sex:"",
					birth:null,
					courses:[],
					schoolclazz:[],
					bindclazz:[],  //绑定的班级
				},
				components: { 
					datepicker
				},
				methods:{
					addBind: function(event){
						if (vvm.selectedSchool == 0){
							layer.alert('请先选择学校')
							return;
						}

						var bc = newBindClazz();
						bc['selectedGrade'] = "0";
						bc["selectedClazz"] = "0";
						bc['selectedCourse'] = "0";
						bc['selectedAdvise'] = "2";
						vvm.bindclazz.push(bc);
					},
					changegrade: function(event, index){
						console.log("changegrade: " + index);

						vvm.bindclazz[index]['clazzs'] = [];
						var sltgd = vvm.bindclazz[index]['selectedGrade'];
						vvm.bindclazz[index]['clazzs'] = vvm.bindclazz[index]['clazzs'].concat(vvm.clazzgroup[sltgd.toString()]);
						vvm.bindclazz[index]['selectedClazz'] = "0";
					},
					delClazz: function(event, index){
						this.bindclazz.splice(index, 1)
					},
					submit: function(event){
						var req = {};
						if (tch){
							req['id'] = tch['id'];
						}
						//检查输入
						if(!vvm.teacherName){
							alertMsg("姓名不能为空");
							return;
						}
						req['name'] = vvm.teacherName;
						if (!checkMobile(vvm.teacherMobile)){
							alertMsg("手机号格式不正确");
							return;
						}
						req['phone'] = vvm.teacherMobile;
						if (vvm.selectedSchool == 0){
							alertMsg("学校不能为空");
							return;
						}
						req['schoolid'] = vvm.selectedSchool;
						if (vvm.idcard){
							req['idcard'] = vvm.idcard;
						}
						if (vvm.sex != ""){
							req['sex'] = vvm.sex;
						}
						if (vvm.birth){
							req['birth'] = vvm.birth;
						}

						if (vvm.bindclazz.length > 0){
							req['teacherclasslis'] = [];
							for (var i = 0; i < vvm.bindclazz.length; i++){
								var item = vvm.bindclazz[i];
								var obj = {};
								if (item['selectedClazz'] == 0){
									alertMsg("班级不能为空");
									return;
								}else{
									obj['clazzid'] = item['selectedClazz'];
								}
								if (item['selectedCourse'] == 0){
									alertMsg("科目不能为空");
									return;
								}else{
									obj['courseid'] = item['selectedCourse'];
								}
								
								//如果是班主任，传值
								if (item['selectedAdvise'] == 1){
									obj['adviserid'] = "1";
								}
								req['teacherclasslis'].push(obj);
							}
							//过滤重复班级
							req['teacherclasslis'] = filterDupItem(req['teacherclasslis']);
						}

						// console.log("req: " + JSON.stringify(req));
						// return;

						if (tch){
							updateTeacher(function(resp){
				                commonMsg("更新成功", function(){
				                	window.location.href = "teacher_list.html";
				                });
				            }, req);
						}else{
							addTeacher(function(resp){
								commonMsg("创建成功", function(){
				                	window.location.href = "teacher_list.html";
				                });
				                // alert("成功");
				                // window.location.href = "teacher_list.html";
							}, req);
						}

					},
					back: function(event){
						window.location.href = "teacher_list.html";
					}
				},
				watch:{
					selectedSchool: function(){
						console.log("selectedSchool: " + vvm.selectedSchool);
						loadSchoolclazz(vvm.selectedSchool);
					}
				}
			});
		}

		function loadSchools(){
			getSchoolTree(function(resp){
				vvm.schools = vvm.schools.concat(resp['data']);

				if (tch){
					loadTeacher(tch['id']);
				}
			});
		}

		function loadSchoolclazz(schoolid){
			getClazz(function(resp){
				vvm.schoolclazz = resp;

				console.log("vvm.schoolclazz:   " + JSON.stringify(vvm.schoolclazz));
				vvm.clazzgroup = {};
				vvm.clazzgroup['0'] = [{"id":0, "name":"请选择"}];
				for (var i = 0; i < vvm.schoolclazz.length; i++){
					var item = vvm.schoolclazz[i];
					if (!(item['gradeid'] in vvm.clazzgroup)){
						vvm.clazzgroup[item['gradeid']] = [{"id":0, "name":"请选择"}];
					}
					var clazz = {};
					clazz['id'] = item['id'];
					clazz['name'] = item['name'];
					vvm.clazzgroup[item['gradeid']].push(clazz);
				}
				console.log("clazzgroup: " + JSON.stringify(vvm.clazzgroup));

				//是编辑页，把班级列表展示出来
				if (tch){
					for (item of tch['clazzlis']){
						var newbc = newBindClazz();
						newbc['selectedGrade'] = item['gradeid'];
						newbc['clazzs'] = vvm.clazzgroup[newbc['selectedGrade'].toString()];
						newbc['selectedClazz'] = item['clazzid'];
						newbc['selectedCourse'] = item['courseid'];
						if ("adviserid" in item){
							newbc['selectedAdvise'] = '1';
						}
						console.log("newbc: " + JSON.stringify(newbc));
						vvm.bindclazz.push(newbc);
					}
				}
			}, schoolid);
		}

		function loadTeacher(tid){
			getTeacher(function(resp){
				console.log("resp: " + JSON.stringify(resp));
				vvm.teacherName = resp['name'];
				vvm.teacherMobile = resp['phone'];
				vvm.selectedSchool = resp['schoolid'];
				vvm.idcard = resp['idcard'];
				vvm.sex = resp['sex'];
				if (resp['birth']){
					var date = new Date(resp['birth']);
					vvm.birth = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
					console.log("birth: " + vvm.birth);
				}
			}, tid);
		}

		function newBindClazz(){
			var bc = {};
			bc['grades'] = [];
			var defaultg = {"id":0, "title":"请选择"};
			bc['grades'].push(defaultg);
			for (k in commonList['grades']){
				if (k in vvm.clazzgroup){
					var gg = {};
					gg['id'] = parseInt(k);
					gg['title'] = commonList['grades'][k];
					bc['grades'].push(gg);
				}
			}
			bc['clazzs'] = [];
			var defaultc = {"id":0, "name":"请选择"};
			bc['clazzs'].push(defaultc);

			bc['selectedGrade'] = "0";
			bc["selectedClazz"] = "0";
			bc['selectedCourse'] = "0";
			bc['selectedAdvise'] = "2";

			return bc;
		}

		function filterDupItem(list){
		    filtered = list.filter(function (a) {
		        var key = Object.keys(a).map(function (k) { return a[k]; }).join('|');
		        if (!this[key]) {
		            return this[key] = true;
	        	}
    		}, Object.create(null));

    		return filtered;
		}
	</script>

</html>
