<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="wangjian" content="web" />
		<title>新建管理员用户</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<style type="text/css">
			.delete_line:hover{
				color: red;
			}
			.none{
				display: none;
			}
			.subject_grade_lists{
				text-align: center;
			}
			.subject_grade_lists th{
				text-align: center;
			}
			.subject_grade_lists_td select{
				border: 0;
				box-shadow: none;
				text-align: center;
			}
			.subject_grade_lists_td span{
				padding: 10px 20px;
			}
			.subject_grade_lists_td span:hover{
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<div class="main container-fluid" style="overflow:inherit;">
			<div class="row head numshu_btm">
				<div class="btngroup">
					<input class="commonbtn save" type="button" value="保存"/>
					<input class="commonbtn back" type="button" value="返回"/>
				</div>
			</div>
			<div class="list_btm">
				
				<div class="form-horizontal">
					<div class="form-group">
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">姓名</span>
						</label>
						<div class="col-sm-3">
							<input type="text" name="admin_name" id="admin_name" class="form-control" value="" />
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">手机号</span>
						</label>
						<div class="col-sm-3">
							<input type="text" name="admin_phone" id="admin_phone" class="form-control" value="" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">学校</span>
						</label>
						<div class="col-sm-3">
							<select  class="selectpicker form-control organization schoolLists" >
						      	<option value="">请选择</option>
								<option value="2">县教育局</option>
								<option value="3">直属教育局</option>
								<option value="4">市教育局</option>
						      </select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">备注</span>
						</label>
						<div class="col-sm-8">
							<textarea name="" id="admin_note" class="form-control" rows="5" ></textarea>
						</div>
					</div>
				</div>
				
			
			</div>
		</div>	
					
	</body>
	<script type="text/javascript" src="../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js" ></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/userManage/add_admin.js" ></script>
</html>
