<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>家长管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/knowledge_list.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.min.css" />
		<style type="text/css">
			.addlist th {
				text-align: center;
			}
			
			.addlist input[type='checkbox'] {
				width: 16px;
				height: 16px;
			}
			
			.none {
				display: none;
			}
			
			.checked_student_lists {
				border: 1px solid #999;
				padding: 10px 15px;
				max-height: 200px;
				overflow: auto;
				margin: 15px auto;
			}
			
			.checked_student_lists td {
				padding: 2px 5px;
			}
			
			.student_pag span {
				margin: 2px 5px;
			}
			
			.remove_student {
				color: #EEEEEE;
			}
			
			.remove_student:hover {
				color: red;
				cursor: pointer;
			}
			td {
			      text-align:center; /*设置水平居中*/
			      vertical-align:middle;/*设置垂直居中*/
			}
			#temptr td{border-top: 1px solid #ddd;}
		</style>
	</head>

	<body>
		<div class="main container-fluid">
			<div class="row head">
				<h3 class="col-xs-2">查询区</h3>
				<div class="col-sm-9 col-xs-3"></div>
			</div>
			<div class="row state">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="secondname" class="col-sm-1 control-label text-center">学校名称</label>
						<div class="col-sm-2">
							<select name="" class="form-control " id="search_school"  data-live-search="true">
								<option value="">全部</option>
								<option>学校1</option>
							</select>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">学生姓名</label>
						<div class="col-sm-2">
							<input type="tel" name="" maxlength="20" class="form-control " id="search_student"/>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">家长手机号</label>
						<div class="col-sm-2">
							<input type="tel" name="" maxlength="11" class="form-control " id="search_phone"/>
						</div>

					</div>
					<div class="form-group">
						<label for="secondname" class="col-sm-1 control-label text-center">年级</label>
						<div class="col-sm-2">
							<select name="" class="form-control " data-live-search="true" id="search_grade">
								<option value="">全部</option>
							</select>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">班级</label>
						<div class="col-sm-2">
							<select name="" class="form-control " data-live-search="true" id="search_class">
								<option value="">全部</option>
							</select>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">用户状态</label>
						<div class="col-sm-2">
							<select name="" class="form-control " id="search_valid">
								<option value="">全部</option>
								<option value="0">禁用</option>
								<option value="1">启用</option>
							</select>
						</div>
						<label for="secondname" class="col-sm-1 control-label text-center"></label>
						<div class="col-sm-1">							
							<div id="btnSearch" onclick="search()" class="search_01 col-sm-2 col-sm-offset-1">查询</div>
						</div>
					</div>

				</form>
			</div>
			<div class="row head numshu_btm">
				<div class="btngroup">
					<input class="commonbtn addParents" type="button" value="新建家长" />
				</div>
			</div>
			<div class="numshu_btm">
				<div class="list_btm">
					<div class="table-responsive">
						<table class="table table-hover" style="text-align: center;">
							<thead>
								<tr id="temptr">
									<td><strong>序号</strong></td>
									<td><strong>学校</strong></td>
									<td><strong>学生姓名</strong></td>
									<td><strong>年级</strong></td>
									<td><strong>班级</strong></td>
									<td><strong>与孩子关系</strong></td>
									<td><strong>家长姓名</strong></td>									
									<td><strong>家长手机号</strong></td>
									<td><strong>用户状态</strong></td>
									<td><strong>操作</strong></td>
								</tr>
							</thead>	
							<tbody class="addlist">
															
							</tbody>
							<script id="parent_list_tmpl" type="text/x-dot-template">						
								{{~it:value:index}}	
								<tr id="parent{{=index}}" class="parent{{=value.pid}}">
									<td>{{=index+1}}</td>
									<td>{{=value.schoolname||''}}</td>
									<td>{{=value.sname||''}}</td>
									<td>{{=value.gradename||''}}</td>
									<td>{{=value.clazzname||''}}</td>
									<td>{{=value.relationname}}</td>
									{{?value.relations!=null}}
									<td rowspan='{{=value.relations.length}}' style="vertical-align:middle">{{=value.pname}}</td>									
									<td rowspan='{{=value.relations.length}}' style="vertical-align:middle">{{=value.phone}}</td>
									<td rowspan='{{=value.relations.length}}' style="vertical-align:middle"><input id="valid{{=index}}" type="hidden" value='{{=value.valid}}'>
									<span id="validText{{=index}}">{{?value.valid=='0'}}已禁用{{??}}已启用{{?}}</span></td>
									<td rowspan='{{=value.relations.length}}' style="vertical-align:middle">
										<a href="javascript:;" onclick="seeStudent('{{=value.pid}}')">查看</a>&nbsp;
										<a href="javascript:;" onclick="editStudent('{{=value.pid}}')">编辑</a>&nbsp;
										<a id="validHref{{=index}}" href="javascript:;" onclick="off('{{=index}}','{{=value.pid}}')">{{?value.valid=='0'}}启用{{??}}禁用{{?}}</a>&nbsp;
										<a href="javascript:;" onclick="dele('{{=index}}','{{=value.pid}}')">删除</a>
									</td>
									{{?}}
								</tr>
								{{~}}
							</script>
						</table>
					</div>
					<div class="row pro_list_btm">
						<div class="col-xs-6 col-sm-3 text-center">

						</div>
						<div class="col-xs-7 col-sm-9">
							<div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
	<script type="text/javascript" src="../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/doT.min.js"></script>
	<script src="../../js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var evalText;
		$(function(){
			evalText = doT.template($("#parent_list_tmpl").text());
			initSchool();
			search();			
		})
		
		//分页
		function search(){	
			$('#pageToolbar').html("");
			$.ajax({
				type:"get",
				url: org_url + dataUrl.parents+"?token="+sessionStorage.token,
				data:{				
					school:$("#search_school").val(),
					sname:$("#search_student").val().trim(),
					phone:$("#search_phone").val().trim(),
					grade:$("#search_grade").val(),
					clazz:$("#search_class").val(),
					valid:$("#search_valid").val(),					
					page:1,
					size:10
				},
				async:true,
				dataType:"json",
				xhrFields: {
			        withCredentials: true
			    },
			    crossDomain: true,
			    success: function(data){
			    	if (data.code=='10010') {
						layer.alert('身份验证失败！请重新登录！',{yes:function(){
							parent.location.href = "../../enter.html";
						},cancel:function(){
							parent.location.href = "../../enter.html";
						}});
						return false;
					}
			    	//alert("search"+evalText(data));
			    	//console.log("****************"+data.data[1].pname);
			    	var parents = data.data;
			    	var lastParentId = 0;
			    	var lastParentIndex = -1;
			    	for(var i=0;i<parents.length;i++){
			    		var parent = parents[i];
			    		if(parent.pid!=lastParentId){
			    			lastParentId = parent.pid;
			    			lastParentIndex = i;
			    			parent.relations = [];
			    		}
		    			var relation = {
		    				"schoolname":parent.schoolname,
		    				"sname":parent.sname,
		    				"gradename":parent.gradename,
		    				"clazzname":parent.clazzname,
		    				"relationname":parent.relationname
		    			};
						//alert(lastParentIndex);
		    			var lastRelations = parents[lastParentIndex].relations;
		    			lastRelations[lastRelations.length]=relation;
			    	};
			    	//console.log("fhf"+JSON.stringify(parents));  
					$(".addlist").html(evalText(parents));	
			    	
			    	$('#pageToolbar').Paging({
						pagesize: 10,
						count: data.total,
						toolbar: true,
						callback: function(page, size, count) {
							//alert("search");
							//console.log(page+'***'+size+'------'+count)
							$.ajax({
								type:"get",
								url: org_url + dataUrl.parents+"?token="+sessionStorage.token,
								data:{
									page:page,
									size:size,
									school:$("#search_school").val(),
									sname:$("#search_student").val().trim(),
									phone:$("#search_phone").val().trim(),
									grade:$("#search_grade").val(),
									clazz:$("#search_class").val(),
									valid:$("#search_valid").val(),
								},
								async:true,
								xhrFields: {
							        withCredentials: true
							    },
							    dataType:"json",
							    crossDomain: true,
							    success: function(data){
							    	if (data.code=='10010') {
										layer.alert('身份验证失败！请重新登录！',{yes:function(){
											parent.location.href = "../../enter.html";
										},cancel:function(){
											parent.location.href = "../../enter.html";
										}});
										return false;
									}
							    	var parents = data.data;
							    	var lastParentId = 0;
							    	var lastParentIndex = -1;
							    	for(var i=0;i<parents.length;i++){
							    		var parent = parents[i];
							    		if(parent.pid!=lastParentId){
							    			lastParentId = parent.pid;
							    			lastParentIndex = i;
							    			parent.relations = [];
							    		}
						    			var relation = {
						    				"schoolname":parent.schoolname,
						    				"sname":parent.sname,
						    				"gradename":parent.gradename,
						    				"clazzname":parent.clazzname,
						    				"relationname":parent.relationname
						    			};
										//alert(lastParentIndex);
						    			var lastRelations = parents[lastParentIndex].relations;
						    			lastRelations[lastRelations.length]=relation;
							    	};
							    	console.log("fhf"+JSON.stringify(parents));  
									$(".addlist").html(evalText(parents));	
							    }
							});  
						},
						changePagesize: function(ps) {
							pagesize = ps;
							$.ajax({
								type: "get",
								url: org_url + dataUrl.parents+"?token="+sessionStorage.token,
								data:{
									page:1,
									size:ps,
									school:$("#search_school").val(),
									sname:$("#search_student").val().trim(),
									phone:$("#search_phone").val().trim(),
									grade:$("#search_grade").val(),
									clazz:$("#search_class").val(),
									valid:$("#search_valid").val(),
								},
								success: function(data) {
									if (data.code=='10010') {
										layer.alert('身份验证失败！请重新登录！',{yes:function(){
											parent.location.href = "../../enter.html";
										},cancel:function(){
											parent.location.href = "../../enter.html";
										}});
										return false;
									}
							    	var parents = data.data;
							    	var lastParentId = 0;
							    	var lastParentIndex = -1;
							    	for(var i=0;i<parents.length;i++){
							    		var parent = parents[i];
							    		if(parent.pid!=lastParentId){
							    			lastParentId = parent.pid;
							    			lastParentIndex = i;
							    			parent.relations = [];
							    		}
						    			var relation = {
						    				"schoolname":parent.schoolname,
						    				"sname":parent.sname,
						    				"gradename":parent.gradename,
						    				"clazzname":parent.clazzname,
						    				"relationname":parent.relationname
						    			};
										//alert(lastParentIndex);
						    			var lastRelations = parents[lastParentIndex].relations;
						    			lastRelations[lastRelations.length]=relation;
							    	};
							    	console.log("fhf"+JSON.stringify(parents));  
									$(".addlist").html(evalText(parents));
								}
							});
						}
					});					
			    }
			});
		}
		
		//全选全不选
		var $tbr = $('.checkItem');
		$(document).on('click', '#checkAll', function(event) {
			$tbr.prop('checked', $(this).prop('checked'));
			if($(this).prop('checked')) {
				$tbr.parent().parent().addClass('warning');
			} else {
				$tbr.parent().parent().removeClass('warning');
			}
			event.stopPropagation();
		});
		//点击复选框对应tr选中状态
		$(document).on('click', '.checkItem', function(event) {
			if($(this).prop('checked')) {
				$(this).parent().parent().addClass('warning');
			} else {
				$(this).parent().parent().removeClass('warning');
			}
		});

		//点击新建教师
		$('.addParents').click(function() {
//			$('.breadcrumb', window.parent.document).append('<li class="active add_parents_bar"><span class="Current_page iframeurl" name="view/userManage/student_add.html" style="color: rgb(51, 51, 51); cursor: default;">新建家长</span></li>');
			window.location.href = 'parents_add.html';
		});

		//点击查看
		function seeStudent(id) {
//			$('.breadcrumb', window.parent.document).append('<li class="active see_student_bar"><span class="Current_page iframeurl" name="view/userManage/student_see.html" style="color: rgb(51, 51, 51); cursor: default;">查看学生</span></li>');
			window.location.href = 'parents_add.html?id='+id+'&see='+'see';
		}

		//点击编辑
		function editStudent(id) {
//			$('.breadcrumb', window.parent.document).append('<li class="active add_parents_bar"><span class="Current_page iframeurl" name="view/userManage/student_edit.html" style="color: rgb(51, 51, 51); cursor: default;">编辑家长</span></li>');
			window.location.href = 'parents_add.html?id='+id;
		}

		//点击禁用用户
		function off(index,id) {
			var v = ($("#valid"+index).val()=='0'?'1':'0');
			var href = this;
			var datas = {
			    	valid:v,
			    	id:id
			    }
			$.ajax({
				type:"put",
				url: org_url + dataUrl.parentstaus+"?token="+sessionStorage.token,
				dataType:"json",
				contentType: "application/json",
			    data:JSON.stringify(datas),
			    success: function(data){
			    	if (data.code=='10010') {
						layer.alert('身份验证失败！请重新登录！',{yes:function(){
							parent.location.href = "../../enter.html";
						},cancel:function(){
							parent.location.href = "../../enter.html";
						}});
						return false;
					}
				    if (data==1) {
				    	if(v==0){
				    		layer.alert('禁用成功');
				    	}else{
				    		layer.alert('启用成功');
				    	}
				    	$("#valid"+index).val(v);
				    	$("#validText"+index).html(v=="0"?"已禁用":"已启用");
				    	$("#validHref"+index).html(v=="0"?"启用":"禁用");	
				    }else{
				    	layer.alert('失败！'+data.msg);
				    }
			    },
			    error: function(){
			    	layer.alert('网络错误，请联系管理员');
			    }
			});
		}
				
		
		function dele(item,id) {
			layer.open({
				title: "",
				content: '确定删除该用户吗？',
				skin: 'layui-layer-lana',
				shadeClose: 'true',
				btn: ['确定', "取消"],
				yes: function(index, layero) {
					$.ajax({
						type:"delete",
						url: org_url + dataUrl.parent +id+"?token="+sessionStorage.token,
						async:true,
						dataType:"json",
						xhrFields: {
					        withCredentials: true
					    },
					    crossDomain: true,
					    success: function(data){
					    	if (data.code=='10010') {
								layer.alert('身份验证失败！请重新登录！',{yes:function(){
									parent.location.href = "../../enter.html";
								},cancel:function(){
									parent.location.href = "../../enter.html";
								}});
								return false;
							}
					    	if(data==1){
					    		layer.alert('删除成功！',function(index){
					    			$(".parent"+id).remove();
					    			layer.close(index);
					    			search();
					    		})
						    }else{
						    	layer.alert("删除失败！"+data.msg);
						    }
					    },
					    error: function(){
					    	layer.alert('网络错误！请联系管理员');
					    }
					});
					layer.close(index);
				},
				btn2: function(index, layero) {
					//按钮【按钮二】的回调
					layer.close(index);
				},
				cancel: function() {
					//右上角关闭回调
				}
			});
		}
		
		//初始化数据
		function initSchool(){	
			$.ajax({
				type:"get",
				url: org_url + dataUrl.schools +"?token="+sessionStorage.token,
				async:true,
				dataType:"json",
				xhrFields: {
			        withCredentials: true
			    },
			    crossDomain: true,
			    success: function(data){
			    	if (data.code=='10010') {
						layer.alert('身份验证失败！请重新登录！',{yes:function(){
							parent.location.href = "../../enter.html";
						},cancel:function(){
							parent.location.href = "../../enter.html";
						}});
						return false;
					}
			    	$("#search_school").empty();
			    	$("#search_school").append("<option value=''>全部</option>");
			    	for(var i=0;i<data.data.length;i++){    		
			    		var option = "<option value='"+data.data[i].id+"'>"+data.data[i].name+"</option>";
			    		$("#search_school").append(option);
			    	}
			    	//$("#roles").selectpicker('val',[1,2,8]);
			    	$("#search_school").selectpicker('refresh');    	
			    }
			});
			$("#search_school").change(function(){
				initGrade();
				initClass();
			}); 
			$("#search_grade").change(function(){
				initClass();
			}); 
		}

		function initGrade(){	
			if($("#search_school").val()==""){
				return;
			}
			$.ajax({
				type:"get",
				url: org_url + dataUrl.grades +"?token="+sessionStorage.token,
				async:true,
				dataType:"json",
				xhrFields: {
			        withCredentials: true
			    },
			    data:{"schoolId":$("#search_school").val()},
			    crossDomain: true,
			    success: function(data){
			    	if (data.code=='10010') {
						layer.alert('身份验证失败！请重新登录！',{yes:function(){
							parent.location.href = "../../enter.html";
						},cancel:function(){
							parent.location.href = "../../enter.html";
						}});
						return false;
					}
			    	$("#search_grade").empty();
			    	$("#search_grade").append("<option value=''>全部</option>");
			    	for(var key in data){
			    		var grades = data[key];			    		
				    	for(var i=0;i<grades.length;i++){    		
				    		var option = "<option value='"+grades[i].id+"'>"+grades[i].title+"</option>";
				    		$("#search_grade").append(option);
				    	}
			    	}
			    	//$("#roles").selectpicker('val',[1,2,8]);
			    	$("#search_grade").selectpicker('refresh');  
			    	initClass();
			    }
			});
		}
		
		function initClass(){	
			if($("#search_school").val()==""){
				return;
			}
			$.ajax({
				type:"get",
				url: org_url + dataUrl.clazzs +"?token="+sessionStorage.token,
				async:true,
				dataType:"json",
				data:{
					"schoolid":$("#search_school").val(),
					"gradeid":$("#search_grade").val(),
					},
				xhrFields: {
			        withCredentials: true
			    },
			    crossDomain: true,
			    success: function(data){
			    	if (data.code=='10010') {
						layer.alert('身份验证失败！请重新登录！',{yes:function(){
							parent.location.href = "../../enter.html";
						},cancel:function(){
							parent.location.href = "../../enter.html";
						}});
						return false;
					}
			    	$("#search_class").empty();
			    	$("#search_class").append("<option value=''>全部</option>");
			    	for(var i=0;i<data.length;i++){    		
			    		var option = "<option value='"+data[i].id+"'>"+data[i].name+"</option>";
			    		$("#search_class").append(option);
			    	}			    	
			    	//$("#roles").selectpicker('val',[1,2,8]);
			    	$("#search_class").selectpicker('refresh');    	
			    }
			});
		}
	</script>

</html>