<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>家长管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/knowledge_list.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.min.css" />
		<style type="text/css">
			.addlist th {
				text-align: center;
			}
			
			.addlist input[type='checkbox'] {
				width: 16px;
				height: 16px;
			}
			
			.none {
				display: none;
			}
			
			.checked_student_lists {
				border: 1px solid #999;
				padding: 10px 15px;
				max-height: 200px;
				overflow: auto;
				margin: 15px auto;
			}
			
			.checked_student_lists td {
				padding: 2px 5px;
			}
			
			.student_pag span {
				margin: 2px 5px;
			}
			
			.remove_student {
				color: #EEEEEE;
			}
			
			.remove_student:hover {
				color: red;
				cursor: pointer;
			}
		</style>
	</head>

	<body>
		<div class="main container-fluid">
			<div class="row head">
				<h3 class="col-xs-2">查询区</h3>
				<div class="col-sm-9 col-xs-3"></div>
			</div>
			<div class="row state">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="secondname" class="col-sm-1 control-label text-center">学校名称</label>
						<div class="col-sm-2">
							<select name="" class="form-control selectpicker" id="search_school"  data-live-search="true">
								<option value="">全部</option>
								<option>学校1</option>
							</select>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">学生姓名</label>
						<div class="col-sm-2">
							<input type="tel" name="" class="form-control selectpicker" id="search_student"/>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">家长手机号</label>
						<div class="col-sm-2">
							<input type="tel" name="" class="form-control selectpicker" id="search_phone"/>
						</div>

					</div>
					<div class="form-group">
						<label for="secondname" class="col-sm-1 control-label text-center">年级</label>
						<div class="col-sm-2">
							<select name="" class="form-control selectpicker" data-live-search="true" id="search_grade">
								<option value="">全部</option>
								<option>一年级</option>
							</select>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">班级</label>
						<div class="col-sm-2">
							<select name="" class="form-control selectpicker" data-live-search="true" id="search_class">
								<option value="">全部</option>
								<option>一年级1班</option>
							</select>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">用户状态</label>
						<div class="col-sm-2">
							<select name="" class="form-control selectpicker" id="search_valid">
								<option value="">全部</option>
								<option value="0">禁用</option>
								<option value="1">启用</option>
							</select>
						</div>
						<label for="secondname" class="col-sm-1 control-label text-center"></label>
						<div class="col-sm-1">							
							<div id="btnSearch" onclick="search()" class="search_01 col-sm-2 col-sm-offset-1">查询</div>
						</div>
					</div>

				</form>
			</div>
			<div class="row head numshu_btm">
				<div class="btngroup">
					<input class="commonbtn addParents" type="button" value="新建家长" />
				</div>
			</div>
			<div class="numshu_btm">
				<div class="list_btm">
					<div class="table-responsive">
						<table border="1" class="table table-hover " style="text-align: center;">
							<thead>
								<tr>
									<th><strong>序号</strong></th>
									<th><strong>学校</strong></th>
									<th><strong>学生姓名</strong></th>
									<th><strong>年级</strong></th>
									<th><strong>班级</strong></th>
									<th><strong>家长姓名</strong></th>
									<th><strong>与孩子关系</strong></th>
									<th><strong>家长手机号</strong></th>
									<th><strong>用户状态</strong></th>
									<th><strong>操作</strong></th>
								</tr>
							</thead>
							<tbody class="addlist">
															
							</tbody>
							<script id="parent_list_tmpl" type="text/x-dot-template">						
								{{~it:value:index}}	
								<tr id="parent{{=index}}" class="parent{{=value.pid}}">
									<td>{{=index+1}}</td>
									<td>{{=value.schoolname}}</td>
									<td>{{=value.sname}}</td>
									<td>{{=value.gradename}}</td>
									<td>{{=value.clazzname}}</td>
									<td>{{=value.pname}}</td>
									<td>{{=value.relationname}}</td>
									<td>{{=value.phone}}</td>
									<td><input id="valid{{=index}}" type="hidden" value='{{=value.valid}}'>
									<span id="validText{{=index}}">{{?value.valid=='0'}}无效{{??}}有效{{?}}</span></td>
									<td>
										<a href="javascript:;" onclick="seeStudent()">查看</a>&nbsp;
										<a href="javascript:;" onclick="editStudent('{{=value.pid}}')">编辑</a>&nbsp;
										<a id="validHref{{=index}}" href="javascript:;" onclick="off('{{=index}}','{{=value.pid}}')">{{?value.valid=='0'}}启用{{??}}禁用{{?}}</a>&nbsp;
										<a href="javascript:;" onclick="dele('{{=index}}','{{=value.pid}}')">删除</a>
									</td>
								</tr>
								{{~}}
							</script>
						</table>
					</div>
					<div class="row pro_list_btm">
						<div class="col-xs-6 col-sm-3 text-center">

						</div>
						<div class="col-xs-7 col-sm-9">
							<div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--导入学生弹窗内容-->
		<div class="none importStudent_modal">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-3 control-label text-right">
						<span class="">学校</span>
					</label>
					<div class="col-sm-9">
						<select class="selectpicker form-control organization schoolLists">
							<option value="">请选择</option>
							<option value="2">学校1</option>
							<option value="3">学校二</option>
							<option value="4">学校3</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label text-right">
						<span class="">年级</span>
					</label>
					<div class="col-sm-9">
						<select class="selectpicker form-control organization gradeLists">
							<option value="">请选择</option>
							<option value="2">一年级</option>
							<option value="3">二年级</option>
							<option value="4">三年级</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label text-right">
						<span class="">所在班级</span>
					</label>
					<div class="col-sm-9">
						<select class="selectpicker form-control organization classGradeLists">
							<option value="">请选择</option>
							<option value="2">一年级1班</option>
							<option value="3">二年级2班</option>
							<option value="4">三年级3班</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label text-right">
						<span class="">导入文件</span>
					</label>
					<div class="col-sm-9">
						<input type="file" name="student_ID" id="student_ID" />
					</div>
				</div>
			</form>
		</div>
		<!--调班弹窗内容-->
		<div class="none batchChangeShift_modal">
			<label class="col-sm-12 control-label">
				已选学生
			</label>
			<table class="checked_student_lists">
			</table>
			<label class="col-sm-12 control-label">
				调整到
			</label><br /><br />
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">
						<span class="">学校</span>
					</label>
					<div class="col-sm-9">
						<select class="form-control organization schoolLists">
							<option value="">请选择</option>
							<option value="2">学校1</option>
							<option value="3">学校二</option>
							<option value="4">学校3</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">
						<span class="">年级</span>
					</label>
					<div class="col-sm-9">
						<select class="form-control organization gradeLists">
							<option value="">请选择</option>
							<option value="2">一年级</option>
							<option value="3">二年级</option>
							<option value="4">三年级</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">
						<span class="">班级</span>
					</label>
					<div class="col-sm-9">
						<select class="form-control organization classGradeLists">
							<option value="">请选择</option>
							<option value="2">一年级1班</option>
							<option value="3">二年级2班</option>
							<option value="4">三年级3班</option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</body>
	<script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
	<script type="text/javascript" src="../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/doT.min.js"></script>
	<script src="../../js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var evalText;
		$(function(){
			evalText = doT.template($("#parent_list_tmpl").text());
			initSchool();
			search();			
		})
		
		//分页
		function search(){	
			$('#pageToolbar').html("");
			$.ajax({
				type:"get",
				url: org_url + "/parent/searchparent",
				data:{				
					school:$("#search_school").val(),
					sname:$("#search_student").val(),
					phone:$("#search_phone").val(),
					grade:$("#search_grade").val(),
					clazz:$("#search_class").val(),
					valid:$("#search_valid").val(),					
					page:1,
					size:5	
				},
				async:true,
				dataType:"json",
				xhrFields: {
			        withCredentials: true
			    },
			    crossDomain: true,
			    success: function(data){
			    	//alert("search"+evalText(data));
			    	//console.log("****************"+data.data[1].pname);
			    	$(".addlist").html(evalText(data.data));
			    	$('#pageToolbar').Paging({
						pagesize: 5,
						count: data.total,
						toolbar: false,
						callback: function(page, size, count) {
							//alert("search");
							//console.log(page+'***'+size+'------'+count)
							$.ajax({
								type:"get",
								url: org_url + "/parent/searchparent",
								data:{
									page:page,
									size:size,
									phone: $("#phone").val(),
									name: $("#name").val(),
									valid:$("#valid").val()
								},
								async:true,
								xhrFields: {
							        withCredentials: true
							    },
							    dataType:"json",
							    crossDomain: true,
							    success: function(data){
									$(".addlist").html(evalText(data.data));	
							    }
							});  
						}
					});					
			    }
			});
		}
		
		//全选全不选
		var $tbr = $('.checkItem');
		$(document).on('click', '#checkAll', function(event) {
			$tbr.prop('checked', $(this).prop('checked'));
			if($(this).prop('checked')) {
				$tbr.parent().parent().addClass('warning');
			} else {
				$tbr.parent().parent().removeClass('warning');
			}
			event.stopPropagation();
		});
		//点击复选框对应tr选中状态
		$(document).on('click', '.checkItem', function(event) {
			if($(this).prop('checked')) {
				$(this).parent().parent().addClass('warning');
			} else {
				$(this).parent().parent().removeClass('warning');
			}
		});

		//分页
		//		function page(max,num){
		$('#pageToolbar').Paging({
			pagesize: 10,
			count: 85,
			toolbar: false,
			callback: function(page, size, count) {
				console.log(page + '***' + size + '------' + count)
				$('.addlist tbody').html('');
				$('.addlist').append('<tr>' +
					'<td><input type="checkbox" class="checkItem" /></td>' +
					'<td>222=' + page + '</td>' +
					'<td>三环中学222</td>' +
					'<td>李四222</td>' +
					'<td>18888888888</td>' +
					'<td>语文222</td>' +
					'<td>初三1班，初三2班222</td>' +
					'<td>已启用222</td>' +
					'<td>' +
					'	<a href="javascript:;" onclick="seeStudent()">查看</a>' +
					'	<a href="javascript:;" onclick="editStudent()">编辑</a>' +
					'	<a href="javascript:;" onclick="off()">禁用</a>' +
					'	<a href="javascript:;">删除</a>' +
					'</td></tr>');
			}
		});
		//		}
		//点击新建教师
		$('.addParents').click(function() {
			$('.breadcrumb', window.parent.document).append('<li class="active add_parents_bar"><span class="Current_page iframeurl" name="view/userManage/student_add.html" style="color: rgb(51, 51, 51); cursor: default;">新建家长</span></li>');
			window.location.href = 'parents_add.html';
		});

		//点击查看
		function seeStudent(id) {
			$('.breadcrumb', window.parent.document).append('<li class="active see_student_bar"><span class="Current_page iframeurl" name="view/userManage/student_see.html" style="color: rgb(51, 51, 51); cursor: default;">查看学生</span></li>');
			window.location.href = 'parents_add.html?id='+id;
		}

		//点击编辑
		function editStudent(id) {
			$('.breadcrumb', window.parent.document).append('<li class="active add_parents_bar"><span class="Current_page iframeurl" name="view/userManage/student_edit.html" style="color: rgb(51, 51, 51); cursor: default;">编辑家长</span></li>');
			window.location.href = 'parents_add.html?id='+id;
		}

		//点击禁用用户
		function off(index,id) {
			var v = ($("#valid"+index).val()=='0'?'1':'0');
			var href = this;
			$.ajax({
				type:"put",
				url: org_url + "/parent/"+id,
				dataType:"json",
			    data:{
			    	valid:v
			    },
			    success: function(data){
			    	$("#valid"+index).val(v);
			    	$("#validText"+index).html(v=="0"?"无效":"有效");
			    	$("#validHref"+index).html(v=="0"?"启用":"禁用");	
			    }
			});
		}
				
		
		function dele(item,id) {
			layer.open({
				title: "",
				content: '确定删除该用户吗？',
				skin: 'layui-layer-lana',
				shadeClose: 'true',
				btn: ['确定', "取消"],
				yes: function(index, layero) {
					$.ajax({
						type:"delete",
						url: org_url + "/parent/"+id,
						async:true,
						dataType:"json",
						xhrFields: {
					        withCredentials: true
					    },
					    crossDomain: true,
					    success: function(data){
					    	if(data==1){
						    	$(".parent"+id).remove();
						    }  	
					    }
					});
					layer.close(index);
				},
				btn2: function(index, layero) {
					//按钮【按钮二】的回调
					layer.close(index);
				},
				cancel: function() {
					//右上角关闭回调
				}
			});
		}
		
		//初始化数据
		function initSchool(){	
			$.ajax({
				type:"get",
				url: org_url + "/school",
				async:true,
				dataType:"json",
				xhrFields: {
			        withCredentials: true
			    },
			    crossDomain: true,
			    success: function(data){
			    	$("#search_school").empty();
			    	$("#search_school").append("<option value=''>全部</option>");
			    	for(var i=0;i<data.data.length;i++){    		
			    		var option = "<option value='"+data.data[i].id+"'>"+data.data[i].name+"</option>";
			    		$("#search_school").append(option);
			    	}
			    	//$("#roles").selectpicker('val',[1,2,8]);
			    	$("#search_school").selectpicker('refresh');    	
			    }
			});
			$("#search_school").change(function(){
				initGrade();
				initClass();
			}); 
			$("#search_grade").change(function(){
				initClass();
			}); 
		}

		function initGrade(){	
			if($("#search_school").val()==""){
				return;
			}
			$.ajax({
				type:"get",
				url: org_url + "/school/grades",
				async:true,
				dataType:"json",
				xhrFields: {
			        withCredentials: true
			    },
			    data:{"schoolId":$("#search_school").val()},
			    crossDomain: true,
			    success: function(data){
			    	$("#search_grade").empty();
			    	$("#search_grade").append("<option value=''>全部</option>");
			    	for(var key in data){
			    		var grades = data[key];			    		
				    	for(var i=0;i<grades.length;i++){    		
				    		var option = "<option value='"+grades[i].id+"'>"+grades[i].title+"</option>";
				    		$("#search_grade").append(option);
				    	}
			    	}
			    	//$("#roles").selectpicker('val',[1,2,8]);
			    	$("#search_grade").selectpicker('refresh');  
			    	initClass();
			    }
			});
		}
		
		function initClass(){	
			if($("#search_school").val()==""){
				return;
			}
			$.ajax({
				type:"get",
				url: org_url + "/clazz",
				async:true,
				dataType:"json",
				data:{
					"schoolid":$("#search_school").val(),
					"gradeid":$("#search_grade").val()
					},
				xhrFields: {
			        withCredentials: true
			    },
			    crossDomain: true,
			    success: function(data){
			    	$("#search_class").empty();
			    	$("#search_class").append("<option value=''>全部</option>");
			    	for(var i=0;i<data.length;i++){    		
			    		var option = "<option value='"+data[i].id+"'>"+data[i].name+"</option>";
			    		$("#search_class").append(option);
			    	}			    	
			    	//$("#roles").selectpicker('val',[1,2,8]);
			    	$("#search_class").selectpicker('refresh');    	
			    }
			});
		}
	</script>

</html>