<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="wangjian" content="web" />
		<title>查看学生</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.min.css"/>
		<style type="text/css">
			.delete_line:hover{
				color: red;
			}
			.none{
				display: none;
			}
			.subject_grade_lists{
				text-align: center;
			}
			.subject_grade_lists th{
				text-align: center;
			}
			.subject_grade_lists_td select{
				border: 0;
				box-shadow: none;
				text-align: center;
			}
			.subject_grade_lists_td span{
				padding: 10px 20px;
			}
			.subject_grade_lists_td span:hover{
				cursor: pointer;
			}
			.student_relation{
				line-height: 37px;
			}
			.student_relation label{
				margin-right: 15px;
			}
		</style>
	</head>
	<body>
		<div class="main container-fluid" style="overflow:inherit;">
			<div class="row head numshu_btm">
				<div class="btngroup">
					<input class="commonbtn edit_password" type="button" value="修改密码"/>
					<input class="commonbtn back" type="button" value="返回"/>
				</div>
			</div>
			<div class="list_btm">
				<div class="form-horizontal">
					<div class="form-group">
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">姓名</span>
						</label>
						<div class="col-sm-3">
							<input type="text" name="student_name" id="student_name" class="form-control" value="" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">学校</span>
						</label>
						<div class="col-sm-3">
							<select  class="selectpicker form-control organization schoolLists" >
						      	<option value="">请选择</option>
								<option value="2">县教育局</option>
								<option value="3">直属教育局</option>
								<option value="4">市教育局</option>
						      </select>
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">所在年级</span>
						</label>
						<div class="col-sm-3">
							<select  class="selectpicker form-control organization gradeLists" >
						      	<option value="">请选择</option>
								<option value="2">一年级</option>
								<option value="3">二年级</option>
								<option value="4">三年级</option>
						      </select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">所在班级</span>
						</label>
						<div class="col-sm-3">
							<select  class="selectpicker form-control organization classGradeLists" >
						      	<option value="">请选择</option>
								<option value="2">一年级1班</option>
								<option value="3">二年级2班</option>
								<option value="4">三年级3班</option>
						      </select>
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="warn" style="padding-left: 20px;">身份证号</span>
						</label>
						<div class="col-sm-3">
							<input type="text" name="student_ID" id="student_ID" class="form-control" value="" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">性别</span>
						</label>
						<div class="col-sm-3">
							<select  class="selectpicker form-control organization studentSex" >
						      	<option value="">请选择</option>
								<option value="2">男</option>
								<option value="3">女</option>
						      </select>
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">出生年月</span>
						</label>
						<div class="col-sm-3 input-append date form_datetime">
							<input type="text" name="student_birth" id="student_birth" class="form-control" value="" />
    						<span class="add-on"><i class="icon-th"></i></span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">入校时间</span>
						</label>
						<div class="col-sm-3 input-append date form_datetime1">
							<input type="text" name="into_school_date" id="into_school_date" class="form-control" value="" />
    						<span class="add-on"><i class="icon-th"></i></span>
						</div>
					</div>
					<hr style="border-color: #d6d5d5;" />
					
					<div class="form-group">
						<label class="col-sm-2 control-label text-left" style="text-align: left;text-indent: 1em;">
							<span>家长信息</span>
						</label>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label text-left">
							<span>家长一</span>
						</label>
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">家长姓名</span>
						</label>
						<div class="col-sm-3">
							<input type="text" name="patriarch1_name" id="patriarch1_name" class="form-control" value="" />
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">手机号</span>
						</label>
						<div class="col-sm-3">
							<input type="text" name="patriarch1_phone" id="patriarch1_phone" class="form-control" value="" />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label text-right col-sm-offset-1">
								<span class="" style="padding-left: 20px;">与家长关系</span>
							</label>
							<div class="col-sm-9 student_relation">
								<label for="dad">
									<input type="radio" name="student_relation1" id="dad" class="" value="" />爸爸
								</label>
								<label for="mom">
									<input type="radio" name="student_relation1" id="mom" class="" value="" />妈妈
								</label>
								<label for="grandpa">
									<input type="radio" name="student_relation1" id="grandpa" class="" value="" />爷爷
								</label>
								<label for="grandma">
									<input type="radio" name="student_relation1" id="grandma" class="" value="" />奶奶
								</label>
								<label for="wgrandpa">
									<input type="radio" name="student_relation1" id="wgrandpa" class="" value="" />外公
								</label>
								<label for="wgrandma">
									<input type="radio" name="student_relation1" id="wgrandma" class="" value="" />外婆
								</label>
								<label for="guardian">
									<input type="radio" name="student1_relation1" id="guardian" class="" value="" />监护人
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label text-left">
							<span>家长二</span>
						</label>
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">家长姓名</span>
						</label>
						<div class="col-sm-3">
							<input type="text" name="patriarch2_name" id="patriarch2_name" class="form-control" value="" />
						</div>
						<label class="col-sm-2 control-label text-right">
							<span class="" style="padding-left: 20px;">手机号</span>
						</label>
						<div class="col-sm-3">
							<input type="text" name="patriarch2_phone" id="patriarch2_phone" class="form-control" value="" />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label text-right col-sm-offset-1">
								<span class="" style="padding-left: 20px;">与家长关系</span>
							</label>
							<div class="col-sm-9 student_relation">
								<label for="dad2">
									<input type="radio" name="student_relation2" id="dad2" class="" value="" />爸爸
								</label>
								<label for="mom2">
									<input type="radio" name="student_relation2" id="mom2" class="" value="" />妈妈
								</label>
								<label for="grandpa2">
									<input type="radio" name="student_relation2" id="grandpa2" class="" value="" />爷爷
								</label>
								<label for="grandma2">
									<input type="radio" name="student_relation2" id="grandma2" class="" value="" />奶奶
								</label>
								<label for="wgrandpa2">
									<input type="radio" name="student_relation2" id="wgrandpa2" class="" value="" />外公
								</label>
								<label for="wgrandma2">
									<input type="radio" name="student_relation2" id="wgrandma2" class="" value="" />外婆
								</label>
								<label for="guardian2">
									<input type="radio" name="student_relation2" id="guardian2" class="" value="" />监护人
								</label>
							</div>
						</div>
					</div>
				</div>
				
			
			</div>
		</div>	
					
	</body>
	<script type="text/javascript" src="../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js" ></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script src="../../js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/userManage/add_student.js" ></script>
</html>
