<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>学生管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/knowledge_list.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.min.css" />
		<style type="text/css">
			.addlist th {
				text-align: center;
			}
			
			.addlist input[type='checkbox'] {
				width: 16px;
				height: 16px;
			}
			
			.none {
				display: none;
			}
			
			.checked_student_lists {
				padding: 10px 15px;
				margin: 15px auto;
			}
			
			.checked_student_lists td {
				padding: 2px 5px;
			}
			
			.student_pag span {
				margin: 2px 5px;
			}
			
			.remove_student {
				color: #777;
			}
			
			.remove_student:hover {
				color: red;
				cursor: pointer;
			}
			
			.none {
				display: none;
			}
			
			[v-cloak] {
				display: none;
			}
			#studentMain th{
				border-top: 1px solid #ddd;
			}
		</style>
	</head>

	<body>
		<div id="studentMain" v-cloak>
			<div class="main container-fluid">
				<div class="row head">
					<h3 class="col-xs-2">查询区</h3>
					<div class="col-sm-9 col-xs-3"></div>
				</div>
				<div class="row state">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="secondname" class="col-sm-1 control-label text-center">学校名称</label>
							<div class="col-sm-2">
								<select name="" class="form-control" v-model="schoolsVal">
									<option value="">全部</option>
									<option v-for="school in schools" v-bind:value="school.id">{{school.name}}</option>
								</select>
							</div>

							<label for="secondname" class="col-sm-1 control-label text-center">年级</label>
							<div class="col-sm-2">
								<select name="" class="form-control" data-live-search="true" v-model="gradeVal">
									<option value="">全部</option>
									<option v-for="grade in grades" v-bind:value="grade.id">{{grade.title}}</option>
								</select>
							</div>

							<label for="secondname" class="col-sm-1 control-label text-center">班级</label>
							<div class="col-sm-2">
								<select name="" class="form-control" data-live-search="true" v-model="classVal">
									<option value="">全部</option>
									<option v-for="cla in classs" v-bind:value="cla.id">{{cla.name}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="secondname" class="col-sm-1 control-label text-center">学生姓名</label>
							<div class="col-sm-2">
								<input type="tel" name="" class="form-control" id="studentname" maxlength="20" />
							</div>

							<label for="secondname" class="col-sm-1 control-label text-center">用户状态</label>
							<div class="col-sm-2">
								<select name="" class="form-control" id="valid">
									<option value="">全部</option>
									<option value="0">禁用</option>
									<option value="1">启用</option>
								</select>
							</div>
							<label for="secondname" class="col-sm-1 control-label text-center"></label>
							<div class="col-sm-1">
								<a href="javascript:;" class="form-control btn btn-default" style="background: #4dd368;color: #fff;" v-on:click="searchstudent">查询</a>
							</div>
						</div>

					</form>
				</div>
				<div class="row head numshu_btm"style="margin-bottom: 25px;">
					<div class="btngroup">
						<a href="student_add.html" class="commonbtn addStudent">新建学生</a>
						<a href="javascript:;" class="commonbtn batchChangeShift">批量调班</a>
						<a href="javascript:;" class="commonbtn batchForbidden">批量禁用</a>
						<a href="javascript:;" class="commonbtn exportStudent" @click="exportStudent($event)">导出学生</a>
						<a href="javascript:;" class="commonbtn importStudent" @click="">导入学生</a>
						<a href="../../plugin/学生信息模版.xls" class="downloadTemplate">下载导入模版</a>
					</div>
				</div>
				<div class="numshu_btm" style="margin-top: 0;">
					<div class="list_btm">
						<div class="table-responsive">
							<table class="table table-hover addlist" style="text-align: center;">
								<thead>
									<tr>
										<th><input type="checkbox" id="checkAll" name="checkAll" @click="checkAll($event)" v-model="checkeds" /></th>
										<th><strong>序号</strong></th>
										<th><strong>学校</strong></th>
										<th><strong>年级</strong></th>
										<th><strong>班级</strong></th>
										<th><strong>学生姓名</strong></th>
										<th><strong>身份证号</strong></th>
										<th><strong>用户状态</strong></th>
										<th><strong>操作</strong></th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(student,index) in studentLists" :class="{warning:iswarning}">
										<td><input type="checkbox" v-bind:value="student.id" class="checkItem" :checked="allchecked" @click="checkOne($event)" /></td>
										<td>{{(index + 1)}}</td>
										<td>{{student.sname}}</td>
										<td>{{student.gradename}}</td>
										<td>{{student.cname}}</td>
										<td>{{student.name}}</td>
										<td>{{student.idcard}}</td>
										<td v-if="student.valid=='1'">已启用</td>
										<td v-else>已禁用</td>
										<td>
											<a href="javascript:;" @click="seeStudent('see',student.id)">查看</a>
											<a href="javascript:;" @click="seeStudent('edit',student.id)">编辑</a>
											<a href="javascript:;" @click="enableValid(index)" v-bind:value="student.valid" v-if="student.valid=='0'">启用</a>
											<a href="javascript:;" @click="enableValid(index)" v-else>禁用</a>
											<a href="javascript:;" @click="delStudent(student.id,$event,index)">删除</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row pro_list_btm">
							<div class="col-xs-6 col-sm-3 text-center">

							</div>
							<div class="col-xs-7 col-sm-9">
								<div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!--导入学生弹窗内容-->
			<div class="modal fade" tabindex="-1" role="dialog" id="toStudent">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">导入选择</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-3 control-label text-right">
								<span class="">学校</span>
							</label>
									<div class="col-sm-9">
										<select name="" class="form-control" v-model="schoolsVal1">
											<option value="">全部</option>
											<option v-for="school in schools" v-bind:value="school.id">{{school.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label text-right">
								<span class="">年级</span>
							</label>
									<div class="col-sm-9">
										<select name="" class="form-control" data-live-search="true" v-model="gradeVal1">
											<option value="">全部</option>
											<option v-for="grade in grades1" v-bind:value="grade.id">{{grade.title}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label text-right">
								<span class="">所在班级</span>
							</label>
									<div class="col-sm-9">
										<select name="" class="form-control" data-live-search="true" v-model="classVal1">
											<option value="">全部</option>
											<option v-for="cla in classs1" v-bind:value="cla.id">{{cla.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label text-right">
								<span class="">导入文件</span>
							</label>
									<div class="col-sm-9">
										<input type="file" name="student_file" id="student_file" accept=".xls,.xlsx" />
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="toStudentOk" v-bind:disabled="checksubmit">确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>
			<!--调班弹窗内容-->
			<div class="modal fade" tabindex="-1" role="dialog" id="batchChange">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title"></h4>
						</div>
						<div class="modal-body">
							<label class="col-sm-12 control-label">
								已选学生
							</label>
							<div style="border: 1px solid #999;height: 150px;overflow: auto;padding: 0 10px;" id="table_p">
								<table class="checked_student_lists">
								</table>
							</div>
							<br />
							<label class="col-sm-12 control-label jinyong">
								调整到
							</label>
							<form class="form-horizontal jinyong" role="form">
								<div class="form-group">
									<label class="col-sm-2 control-label">
										<span class="">学校</span>
									</label>
									<div class="col-sm-9">
										<select name="" class="form-control" v-model="schoolsVal1">
											<option value="">全部</option>
											<option v-for="school in schools" v-bind:value="school.id">{{school.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">
										<span class="">年级</span>
									</label>
									<div class="col-sm-9">
										<select name="" class="form-control" data-live-search="true" v-model="gradeVal1">
											<option value="">全部</option>
											<option v-for="grade in grades1" v-bind:value="grade.id">{{grade.title}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">
										<span class="">班级</span>
									</label>
									<div class="col-sm-9">
										<select name="" class="form-control" data-live-search="true" v-model="classVal1">
											<option value="">全部</option>
											<option v-for="cla in classs1" v-bind:value="cla.id">{{cla.name}}</option>
										</select>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="batchChangeOk" v-bind:disabled="checksubmit" >确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</body>
	<script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
	<script type="text/javascript" src="../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugin/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script src="../../js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/userManage/studentlist.js" type="text/javascript" charset="utf-8"></script>

</html>