<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>教师管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" />
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/knowledge_list.css" />
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap-datetimepicker.min.css" />
	</head>

	<body>
		<style type="text/css">
			[v-cloak] {
			  display: none;
			}
		</style>
		<div class="main container-fluid" id="mainbody" v-cloak>
			<div class="row head">
				<h3 class="col-xs-2">查询区</h3>
				<div class="col-sm-9 col-xs-3"></div>
			</div>
			<div class="row state">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="secondname" class="col-sm-1 control-label text-center">学校名称</label>
						<div class="col-sm-2">
							<select class="form-control" data-live-search="true" v-model="selectedSchool">
								<option v-for="school in schools" v-bind:value="school.id">
									{{ school.name }}
								</option>
							</select>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">教师姓名</label>
						<div class="col-sm-2">
							<input type="text" name="" class="form-control selectpicker" v-model="teachName"/>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">手机号</label>
						<div class="col-sm-2">
							<input type="tel" name="" class="form-control selectpicker" v-model="teachMobile"/>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">用户状态</label>
						<div class="col-sm-1">
							<select name="" class="form-control" data-live-search="true" v-model="teacherStatus">
								<option v-bind:value="2">全部</option>
								<option v-bind:value="1">启用</option>
								<option v-bind:value="0">禁用</option>
							</select>
						</div>
					</div>

					<div class="search_01 col-sm-offset-10" v-on:click="querySubmit($event)">查询</div>
				</form>
			</div>
			<div class="row head numshu_btm">
				<div class="btngroup">
					<a href="add_teacher.html"><input class="commonbtn" type="button" value="新建教师"/></a>
					<a href="javascript:;" class="commonbtn" v-on:click="exportTeacherFile($event)">导出教师</a>
					<a href="javascript:;" class="commonbtn" v-on:click="importTeacherFile()">导入教师</a>
					<a href="../../plugin/教师信息模版.xls" class="downloadTemplate">下载导入模版</a>
				</div>
			</div>
			<div class="numshu_btm">
				<div class="list_btm">
					<div class="table-responsive">
						<table class="table table-condensed addlist" style="text-align: center;">
							<tr>
								<td><strong>序号</strong></td>
								<td><strong>学校</strong></td>
								<td><strong>教师姓名</strong></td>
								<td><strong>手机号</strong></td>
								 <td><strong>任教科目</strong></td> 
								<td><strong>任教班级</strong></td>
								<td><strong>用户状态</strong></td>
								<td><strong>操作</strong></td>
							</tr>
							<tr v-for="(item, index) in teachers">
								<td>{{index + 1}}</td>
								<td>{{item.sname}}</td>
								<td>{{item.name}}</td>
								<td>{{item.phone}}</td>
								<td>
									<template v-if="item['clazzlis'].length>0">
										{{item['clazzlis'][0].coursename}}
									</template>
								</td> 
								<!-- <td>{{item.clazzname}}</td> -->
								<td>
									<template v-for="(subitem, subindex) in item['clazzlis']">
										{{subitem.clazzname}}&nbsp;&nbsp;
									</template>
								</td>
								<td v-if="item.valid==1">启用</td>
								<td v-else>禁用</td>
								<td>
									<a class="forbidden" href="javascript:;" v-on:click="editTeacher($event,index,'see')">查看</a>
									<a class="forbidden" href="javascript:;" v-on:click="editTeacher($event,index)">编辑</a>
									<a href="javascript:;" class="_a_space forbidden" v-if="item.valid==1" v-on:click="enableValid($event,item.id,index)">禁用</a>
									<a href="javascript:;" class="_a_space forbidden" v-else v-on:click="enableValid($event,item.id,index)">启用</a>
									<a href="javascript:;" class="forbidden" v-on:click="delTeacher($event, item.id, index)">删除</a>
								</td>
							</tr>
						</table>
					</div>
					<div class="row pro_list_btm">
						<div class="col-xs-6 col-sm-3 text-center">

						</div>
						<div class="col-xs-7 col-sm-9">
							<div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
						</div>
					</div>
				</div>
			</div>
			<!--导入教师弹窗内容-->
			<div class="modal fade" tabindex="-1" role="dialog" id="toTeacher">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">导入选择</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-3 control-label text-right">
										<span class="">学校</span>
									</label>
									<div class="col-sm-9">
										<select name="" class="form-control" v-model="importSchool">
											<option v-for="school, index in schools" v-if="index>0" v-bind:value="school.id">{{school.name}}</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label text-right">
										<span class="">导入文件</span>
									</label>
									<div class="col-sm-9">
										<input type="file" name="teacher_file" id="teacher_file" />
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="toTeacher" v-on:click="loadTeacher($event)">确定</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</body>
	<script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
	<script type="text/javascript" src="../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/dataUrl.js" ></script>
	<script type="text/javascript" src="../../plugin/vue/vue.js"></script>
	<script type="text/javascript" src="../../js/dataManage/apicontainer.js" ></script>
	<script type="text/javascript" src="../../js/commonutil.js" ></script>
	<script type="text/javascript">
		var vvm = null;
		$(document).ready(function() {
			vm_init();
			getShl();
			getTcs();
		});

		function vm_init(){
			var schools = new Array();
			var defaultschool = {"name":"全部", "id":0};
			schools.push(defaultschool);

			vvm = new Vue({
				el: '#mainbody',
				data:{
					schools:schools,
					selectedSchool:defaultschool.id,
					teachName:"",
					teachMobile:"",
					teacherStatus:"2",
					teachers:[],
					importSchool:0,
					page:1,
					pagesize:10,
					total:0
				},
				methods:{
					enableValid: function(event, itemid, index){
						var tmpvalid = (vvm.teachers[index]['valid'] == "1" ? "0":"1");
						enableTeacher(function(){
							layer.alert((tmpvalid==1)?"启用成功":"禁用成功");
							vvm.teachers[index]['valid'] = tmpvalid;
						}, itemid, tmpvalid);
					},
					querySubmit: function(event){
						// console.log("selectedSchool: " + this.selectedSchool + ", teachName: " + this.teachName + ", teachMobile: " + this.teachMobile + ", teacherStatus: " + this.teacherStatus);
						getTcs();
					},
					delTeacher: function(event, itemid, index){
						layer.alert("是否删除教师: " + vvm.teachers[index]['name'], function(){
							rmTeacher(itemid, index)
						});
					},
					editTeacher: function(event, index,see){
						var tc = this.teachers[index];
						var teacher = {};
						teacher['id'] = tc['id'];
						teacher['schoolid'] = tc['schoolid'];
						teacher['clazzlis'] = []
						for (item of tc['clazzlis']){
							var o = {};
							o['gradeid'] = item['gradeid'];
							o['clazzid'] = item['clazzid'];
							o['courseid'] = item['courseid'];
							if ("adviserid" in item){
								o['adviserid'] = item['adviserid'];
							}
							teacher['clazzlis'].push(o);
						}
						var uri = "add_teacher.html?data=" + encodeURI(JSON.stringify(teacher));
						if (see) {
							uri = "see_teacher.html?data=" + encodeURI(JSON.stringify(teacher));
						}
						$(event.target).attr('href', uri);
					},
					importTeacherFile: function(){
						if (vvm.schools.length > 0){
							vvm.importSchool = vvm.schools[1]['id'];
						}
			 			$('#toTeacher').modal('show');
						$('.modal-title').text('导入选择！');
					},
					exportTeacherFile: function(event){
						url = org_url + dataUrl.teacher.exportTeacher;
						req = "?token=" + sessionStorage.token;

						if (this.selectedSchool != 0){
							req += "&schoolid=" + this.selectedSchool;
						}
						if (this.teachName != ''){
							req += "&name=" + this.teachName;
						}
						if (this.teachMobile != ''){
							req += "&phone=" + this.teachMobile;
						}
						if (this.teacherStatus != '2'){
							req += "&valid=" + this.teacherStatus
						}

						$(event.target).prop('href', url + req);
					},
					loadTeacher: function(event){
						if (this.importSchool == 0) {
							alertMsg("请选择学校");
							return;
						}
						if ($('#teacher_file').val()=='') {
							layer.alert('请选择上传文件！');
							return;
						}
						var fd = new FormData();
						fd.append('file', $('#teacher_file')[0].files[0]);
						importTeacher(function(resp){
							console.log("resp: " + JSON.stringify(resp));
						}, this.importSchool, fd);
					}
				}
			});
		}

		function rmTeacher(itemid, index){
			deleteTeacher(function(resp){
				layer.alert("删除成功");
				vvm.teachers.splice(index, 1);
			}, itemid);	
		}

		function getShl(){
			getSchoolTree(function(resp){
				vvm.shools = [{"name":"全部", "id":0}];
				vvm.schools = vvm.schools.concat(resp['data']);
			});
		}

		//获取教师列表
		function getTcs(){
			getTeachers(function(resp){
				if (vvm.page == 1){
					vvm.teachers = [];
					vvm.teachers = vvm.teachers.concat(resp['data']);
					vvm.total = resp['total'];
					paging();
				}else{
					vvm.teachers = [];
					vvm.teachers = vvm.teachers.concat(resp['data']);
					vvm.total = resp['total'];
				}
			}, vvm.page, vvm.pagesize, vvm.selectedSchool, vvm.teachName, vvm.teachMobile, vvm.teacherStatus);
		}

		function paging(){
			$('#pageToolbar').html('');
			$('#pageToolbar').Paging({
				pagesize: vvm.pagesize,
				count: vvm.total,
				toolbar: true,
				hash: true,
				callback: function(page, size, count) {
					vvm.page = page;
					getTcs();
				},
				changePagesize:function(ps){
					vvm.pagesize = ps;
					getTcs();
				}
			});
		}
	</script>
</html>
