<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>教师管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../plugin/paging/paging.css" />
		<!-- <link rel="stylesheet" href="../../plugin/bootstrap-select/css/bootstrap-select.css" /> -->
		<link rel="stylesheet" href="../../css/common/common_list.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../css/knowledge/knowledge_list.css" />
	</head>

	<body>
		<style type="text/css">
			[v-cloak] {
			  display: none;
			}
		</style>
		<div class="main container-fluid" id="mainbody" v-cloak>
			<div class="row head">
				<!-- <h3 class="col-xs-2">查询区</h3> -->
				<!-- <div class="col-sm-9 col-xs-3"></div> -->
			</div>
			<div class="row state">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="secondname" class="col-sm-1 control-label text-center">学校名称</label>
						<div class="col-sm-2">
							<select class="form-control" data-live-search="true" v-model="selectedSchool">
								<option v-for="school in schools" v-bind:value="school.id">
									{{ school.name }}
								</option>
							</select>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">教师姓名</label>
						<div class="col-sm-2">
							<input type="text" name="" class="form-control selectpicker" v-model="teachName"/>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">手机号</label>
						<div class="col-sm-2">
							<input type="tel" name="" class="form-control selectpicker" v-model="teachMobile"/>
						</div>

						<label for="secondname" class="col-sm-1 control-label text-center">用户状态</label>
						<div class="col-sm-1">
							<select name="" class="form-control" data-live-search="true" v-model="teacherStatus">
								<option v-bind:value="2">全部</option>
								<option v-bind:value="1">已启用</option>
								<option v-bind:value="0">已禁用</option>
							</select>
						</div>
					</div>

					<div class="search_01 col-sm-offset-10" v-on:click="querySubmit($event)">查询</div>
				</form>
			</div>
			<div class="row head numshu_btm">
				<div class="btngroup">
					<a href="add_teacher.html"><input class="commonbtn" type="button" value="新建教师"/></a>
					<input class="commonbtn exportTeacher" type="button" value="导出教师" />
					<input class="commonbtn importTeacher" type="button" value="导入教师" />
					<a href="javascript:;" class="downloadTemplate">下载导入模版</a>
				</div>
			</div>
			<div class="numshu_btm">
				<div class="list_btm">
					<div class="table-responsive">
						<table class="table table-condensed addlist" style="text-align: center;">
							<tr>
								<td><strong>序号</strong></td>
								<td><strong>学校</strong></td>
								<td><strong>教师姓名</strong></td>
								<td><strong>手机号</strong></td>
								<!-- <td><strong>任教科目</strong></td> -->
								<td><strong>任教班级</strong></td>
								<td><strong>用户状态</strong></td>
								<td><strong>操作</strong></td>
							</tr>
							<tr v-for="(item, index) in teachers">
								<td>{{index + 1}}</td>
								<td>{{item.sname}}</td>
								<td>{{item.name}}</td>
								<td>{{item.phone}}</td>
								<!-- <td>{{item.coursename}}</td> -->
								<!-- <td>{{item.clazzname}}</td> -->
								<td>
									<template v-for="(subitem, subindex) in item['clazzlis']">
										{{subitem.coursename}}&nbsp;&nbsp;&nbsp;&nbsp;{{subitem.clazzname}}<br>
									</template>
								</td>
								<td v-if="item.valid==1">启用</td>
								<td v-else>禁用</td>
								<td>
									<a class="forbidden" href="javascript:;" v-on:click="editTeacher($event,index)">编辑</a>
									<a href="javascript:;" class="_a_space forbidden" v-if="item.valid==1" v-on:click="enableValid($event,item.id,index)">禁用</a>
									<a href="javascript:;" class="_a_space forbidden" v-else v-on:click="enableValid($event,item.id,index)">启用</a>
									<a href="javascript:;" class="forbidden" v-on:click="delTeacher($event, item.id, index)">删除</a>
								</td>
							</tr>
						</table>
					</div>
					<div class="row pro_list_btm">
						<div class="col-xs-6 col-sm-3 text-center">

						</div>
						<div class="col-xs-7 col-sm-9">
							<div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
	<script type="text/javascript" src="../../js/common/jquery.min2.0.js"></script>
	<script type="text/javascript" src="../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/dataUrl.js" ></script>
	<script type="text/javascript" src="../../plugin/vue/vue.js"></script>
	<script type="text/javascript" src="../../js/dataManage/apicontainer.js" ></script>
	<script type="text/javascript">
		var vvm = null;
		$(document).ready(function() {
			vm_init();
			getShl();
			getTcs();
		});

		function vm_init(){
			var schools = new Array();
			var defaultschool = {"name":"全部", "id":0};
			schools.push(defaultschool);

			vvm = new Vue({
				el: '#mainbody',
				data:{
					schools:schools,
					selectedSchool:defaultschool.id,
					teachName:"",
					teachMobile:"",
					teacherStatus:"2",
					teachers:[],
					page:1,
					pagesize:10,
					total:0
				},
				methods:{
					enableValid: function(event, itemid, index){
						var tmpvalid = (vvm.teachers[index]['valid'] == "1" ? "0":"1");
						var url = org_url + dataUrl['teacher']['enableTeacher'] + "/" + itemid + "?valid=" + tmpvalid;
					    $.ajax({
					        url: url,
					        type: 'put',
					        success: function (resp) {
					        	if (typeof(resp) == "object" && "code" in resp){
					        		alert("保存错误，" + resp['detail']);
					        	}else{
					        		vvm.teachers[index]['valid'] = tmpvalid;
					        	}
					        },
					        error: function(d, data) {
					            console.log(data);
					        },
					        complete: function(data) {
					        }
					    });
					},
					querySubmit: function(event){
						console.log("selectedSchool: " + this.selectedSchool + ", teachName: " + this.teachName + ", teachMobile: " + this.teachMobile + ", teacherStatus: " + this.teacherStatus);
						getTcs();
					},
					delTeacher: function(event, itemid, index){
						//FIXME: 添加提示框
						var url = org_url + dataUrl['teacher']['deleteTeacher'] + "/" + itemid;
					    $.ajax({
					        url: url,
					        type: 'delete',
					        success: function (resp) {
					        	if (typeof(resp) == "object" && "code" in resp){
					        		alert("保存错误，" + resp['detail']);
					        	}else{
					        		alert("删除成功");
					        		vvm.teachers.splice(index, 1);
					        	}
					        },
					        error: function(d, data) {
					            console.log(data);
					        },
					        complete: function(data) {
					        }
					    });
					},
					editTeacher: function(event, index){
						var tc = this.teachers[index];
						var teacher = {};
						teacher['id'] = tc['id'];
						teacher['schoolid'] = tc['schoolid'];
						teacher['clazzlis'] = []
						for (item of tc['clazzlis']){
							var o = {};
							o['gradeid'] = item['gradeid'];
							o['clazzid'] = item['clazzid'];
							o['courseid'] = item['courseid'];
							if ("adviserid" in item){
								o['adviserid'] = item['adviserid'];
							}
							teacher['clazzlis'].push(o);
						}
						console.log("ddd: " + JSON.stringify(teacher));
						var uri = "add_teacher.html?data=" + encodeURI(JSON.stringify(teacher));
						$(event.target).attr('href', uri);
					}
				}
			});
		}

		function getShl(){
			getSchoolTree(function(resp){
				var ss = [];
				for (var i = 0; i < resp['data'].length; i++){
					var item = {};
					item['id'] = resp['data'][i]['id'];
					item['name'] = resp['data'][i]['name'];
					ss.push(item);
				}
				vvm.schools = vvm.schools.concat(ss);
			});
		}

		//获取教师列表
		function getTcs(){
			getTeachers(function(resp){
				console.log("teachers: " + JSON.stringify(resp));
				if (vvm.page == 1){
					vvm.teachers = [];
					vvm.teachers = vvm.teachers.concat(resp['data']);
					vvm.total = resp['total'];
					paging();
				}else{
					vvm.teachers = [];
					vvm.teachers = vvm.teachers.concat(resp['data']);
					vvm.total = resp['total'];
				}
			}, vvm.page, vvm.pagesize, vvm.selectedSchool, vvm.teachName, vvm.teachMobile, vvm.teacherStatus);
		}

		function paging(){
			$('#pageToolbar').html('');
			$('#pageToolbar').Paging({
				pagesize: vvm.pagesize,
				count: vvm.total,
				toolbar: true,
				hash: true,
				callback: function(page, size, count) {
					vvm.page = page;
					getTcs();
				},
				changePagesize:function(ps){
					vvm.pagesize = ps;
					getTcs();
				}
			});
		}
	</script>
</html>
