<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>班级管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../assets/font-awesome.min.css" />
		<link rel="stylesheet" href="../../assets/ace.min.css" />
		<link rel="stylesheet" href="../../assets/ace-rtl.min.css" />
		<link rel="stylesheet" href="../../assets/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="../../assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script type="text/javascript" src="../../index_files/jquery-1.9.1.min.js"></script>
		<script src="../../assets/ace-extra.min.js"></script>
		<script src="../../assets/ace-elements.min.js"></script>
		<script src="../../assets/ace.min.js"></script>
		<script src="../../js/vue/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/dataUrl.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../../plugin/layer/layer.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="../../assets/html5shiv.js"></script>
		<script src="../../assets/respond.min.js"></script>
		<![endif]-->

		<style type="text/css">
			.none{display: none;}
			.commonbtn {
				height: 32px;
				padding: 0 20px;
				background: #03a8ed;
				color: #fff;
				border-radius: 5px;
				border: none;
				margin-right: 20px;
			}
			.box_border{
				border: 1px solid #e6e6e6;
			}
			.school_all_name{
				font-weight: bold;
			}
			.lef{margin-left: 20px;}
		</style>
	</head>

	<body style="background: #fff;" >
		<div class="main container-fluid clearFix" style="overflow: inherit;padding: 20px;">
			<div class="lefttree fl col-sm-3" style="min-height: 250px;height: auto;">
				<ul class="nav nav-list box_border" id="mainbody">
					<li class="">
						<a href="javascript:;" class="dropdown-toggle">
							<i class="lef"></i>
							<span class="menu-text school_all_name"></span>
						</a>
					</li>
					<!--<li v-for="(grade,index) in schoolGrade">
						<a href="#" class="dropdown-toggle">
							<i class="icon-desktop"></i>
							<span class="menu-text"> {{grade.name}} </span>
							<b class="arrow icon-angle-down"></b>
						</a>
						<ul class="submenu" style="display: block;">
							<li class="nav_lis" v-for="gradecla in grade.datas">
								<a href="javascript:;" v-bind:data-id="gradecla.id" v-on:click="gradeClick(gradecla.id)">
									<i class="icon-double-angle-right"></i> {{gradecla.title}}
								</a>
							</li>
						</ul>
					</li>-->
				</ul>
			</div>
			<div class="rightContent fr col-sm-9" id="gradelists">
				<div class="box_border" style="margin-bottom: 20px;padding: 10px 20px;">
					<div class="btngroup">
						<a href="javascript:;" class="add_grade btn btn-info">添加班级</a>
						<a href="javascript:;" class="back_school btn btn-info">返回</a>
					</div>
				</div>
				<div class="box_border" style="padding: 10px 20px;">
					<table border="1" class="table table-hover" >
						<thead>
							<th>班级名称</th>
							<th>班主任</th>
							<th>任课教师</th>
							<th>操作</th>
						</thead>
						<tbody class="grade_lists">
							<!--<tr v-for="grade in gradeList">
								<td>{{grade.name}}</td>
								<td>{{grade.adviserName}}</td>
								<td>{{grade.extrInfo}}</td>
								<td>
									<a href="javascript:;" v-on:click="editClass(grade.id)" class="edit_class">编辑</a>
									<a href="javascript:;" v-bind:data-id="grade.id" class="delete_class" v-on:click="delClass">删除</a>
								</td>
							</tr>-->
							
						</tbody>
					</table>
				</div>
			</div>

	</body>

	<script>
			var gradelist='';
			console.log(getUrlParams().name)
			//获取url中字段
			function getUrlParams() {
				var params = {};
				var url = window.location.href;
				var idx = url.indexOf("?");
				if(idx > 0) {
					var queryStr = url.substring(idx + 1);
					var args = queryStr.split("&");
					for(var i = 0, a, nv; a = args[i]; i++) {
						nv = args[i] = a.split("=");
						params[nv[0]] = nv.length > 1 ? nv[1] : true;
					}
				}
				return params;
			};	
			$('.school_all_name').text(decodeURIComponent(getUrlParams().name))
			var teacerjson,page=1,gradecount=0;
			
			if (getUrlParams().add=='ok') {
				navClic(sessionStorage.gradeid,getUrlParams().id);
				console.log($('.nav_lis'))
				
			}
			//点击保存后班级管理页面显示新添加的班级
			if(getUrlParams().id){
				$('.add_grade').click(function(){
					if ($('.add_grade').attr('href').indexOf()<0) {
						layer.alert('请选择年级！');
					}
				})
				$.ajax({
					type: "get",
					url: org_url + dataUrl.grades+"?token="+sessionStorage.token,
					data: {
						schoolId: getUrlParams().id,
					},
					async: true,
					success: function(data) {
						if (data.code=='10010') {
							layer.alert('身份验证失败！请重新登录！',{yes:function(){
								parent.location.href = "../../enter.html";
							},cancel:function(){
								parent.location.href = "../../enter.html";
							}});
							return false;
						}
						for(var v in data){
							var $lihtm = $('<li v-for="(grade,index) in schoolGrade"><a href="#" class="dropdown-toggle"><i class="lef"></i><span class="menu-text"> '+v+' </span></a></li>');
							var $ulhtm = $('<ul class="submenu" style="display: block;"></ul>');
							$.each(data[v],function(i,e){
								var $sublihtm = '<li class="nav_lis" data-id="'+e.id+'"><a href="javascript:;" ><i class="icon-double-angle-right"></i> '+e.title+'</a></li>';
								$ulhtm.append($sublihtm);
							});
							$lihtm.append($ulhtm);
							$('#mainbody').append($lihtm);
						}
					},
					error: function(data) {
						console.log(data.responseText)
					}
				});
				/*var mainbody = new Vue({
					el: "#mainbody",
					data: {
						schoolGrade:[],
						gradeList:''
					},
					beforeCreate: function() {
						var _self = this;
						$.ajax({
							type: "get",
							url: org_url + dataUrl.clazz.grades,
							data: {
								schoolId: getUrlParams().id
							},
							async: true,
							success: function(data) {
	//							gradecount = data.total;
								var datajson = [];
								for (var i in data) {
									var dataobj = {};
									dataobj.name = i;
									dataobj.datas = data[i];
									datajson.push(dataobj)
									
								}
								console.log(datajson);
								_self.schoolGrade = datajson;
								console.log(data)
							},
							error: function(data) {
								console.log(data.responseText)
							}
						});
					},
					methods: {
						gradeClick: function(id){
							var _self = this;
//							var gradehtml = $('.grade_lists').html();
//							$('.grade_lists').html('');
//							$('.grade_lists').attr('data-id',id);
//							initgrade(id);
							$.ajax({
								type:"get",
								url:org_url + dataUrl.clazz.clazz,
								async:true,
								data:{
									gradeid: id,
									schoolid: getUrlParams().id
								},
								success: function(data){
									console.log(data)
									$('.add_grade').attr('href','add_grade.html?gradeId='+id+'&schoolId='+getUrlParams().id+'&schoolName='+getUrlParams().name);
//									$('.grade_lists').append(gradehtml);
									initgrade(id,data);
									gradelist.gradeList=data;
								}
							});
						},
					}
				});
			}
			
			function initgrade(id,data){
				gradelist = new Vue({
					el: "#gradelists",
					data:{
						gradeList: data
					},
					methods:{
						//修改班级
						editClass: function(id){
							window.location.href = 'add_grade.html?gradeId='+id+'&schoolId='+getUrlParams().id+'&clazzid='+id+'&name='+getUrlParams().name;
						},
						//删除班级
						delClass: function(event){
							console.log($(event.target).attr('data-id'))
							layer.open({
				                title: "提示",
				                content: '确定删除吗？',
				                skin: 'layui-layer-lana',
				                shadeClose: false,
				                btn: ['确定'],
				                yes: function(index, layero) {
				                    layer.close(index);
				                    console.log($(this))
				                    $.ajax({
										type:"delete",
										url: org_url + dataUrl.clazz.clazz+$(event.target).attr('data-id'),
										async:true,
										success: function(data){
											if (data==1) {
												layer.alert('删除成功！');
												$(event.target).parents('tr').remove();
											}else{
												layer.alert('删除失败！');
											}												}
									});
				                }
				        	});
							
						}
					}
				});*/
			}
			//侧导航点击
			$(document).on('click','.nav_lis',function(e){
				console.log($(this).index())
				$('.nav_lis').removeClass('active');
				$(this).addClass('active');
				var gradeid = $(this).attr('data-id');
				$('.grade_lists').attr('data-gradeid',gradeid);
				$('.grade_lists').html('');
				navClic(gradeid,getUrlParams().id);
				sessionStorage.gradeid = gradeid;
				sessionStorage.id = $(this).attr('data-id');
			})
			
			
			function navClic(gradeid,schoolid){
				$.ajax({
					type:"get",
					url:org_url + dataUrl.clazzs+"?token="+sessionStorage.token,
					async:true,
					data:{
						gradeid: gradeid,
						schoolid: getUrlParams().id,
					},
					success: function(data){
						if (data.code=='10010') {
							layer.alert('身份验证失败！请重新登录！',{yes:function(){
								parent.location.href = "../../enter.html";
							},cancel:function(){
								parent.location.href = "../../enter.html";
							}});
							return false;
						}
//						console.log(data)
						$('.add_grade').attr('href','add_grade.html?gradeId='+gradeid+'&schoolId='+getUrlParams().id+'&schoolName='+getUrlParams().name);
						$.each(data,function(i,e){
							var trhtml = '<tr><td>'+e.name+'</td><td>'+(e.adviserName?e.adviserName:"")+'</td><td>'+(e.extrInfo?e.extrInfo:"")+'</td><td><a href="javascript:;" data-id="'+e.id+'" class="edit_class">编辑</a> <a href="javascript:;" data-id="'+e.id+'" class="delete_class">删除</a></td></tr>';
							$('.grade_lists').append(trhtml);
						})
						$.each($('.nav_lis'), function(i,e) {
							if ($(e).attr('data-id')==sessionStorage.id) {
								$(e).addClass('active')
							}
						});
//						$('.grade_lists').append(gradehtml);
					}
				});
			}
			
			//点击返回班级管理
			$('.back_school').click(function (){
				$('.breadcrumb>li:gt(1)',window.parent.document).remove();
				window.location.href='schoolManage.html';
			});
			
			//添加班级
			$('.add_grade').click(function (){
//				$('.breadcrumb',window.parent.document).append('<li class="active add_grade_title"><span class="Current_page iframeurl" name="view/organizationalManage/add_grade.html" style="color: rgb(51, 51, 51); cursor: default;">新建班级</span></li>');
			});
			
			//编辑班级
			$(document).on('click','.edit_class',function (){
//				$('.breadcrumb',window.parent.document).append('<li class="active add_grade_title"><span class="Current_page iframeurl" name="view/organizationalManage/add_grade.html?id=123" style="color: rgb(51, 51, 51); cursor: default;">编辑班级</span></li>');
				var clazzid = $(this).attr('data-id');
				var gradeid = $('.grade_lists').attr('data-gradeid');
				console.log(gradeid)
				window.location.href = 'add_grade.html?gradeId='+gradeid+'&schoolId='+getUrlParams().id+'&clazzid='+clazzid+'&schoolName='+getUrlParams().name;
			});
			
			
			//删除班级
			$(document).on('click','.delete_class',function(){
				var delid = $(this).attr('data-id');
				var _this = $(this);
				layer.open({
					title: '提示',
					content:'确定删除吗？',
					btn:['确定','取消'],
					yes:function(){
						$.ajax({
							type:"delete",
							url: org_url + dataUrl.clazzs+delid+"?token="+sessionStorage.token,
							async:true,
							success: function(data){
								if (data.code=='10010') {
									layer.alert('身份验证失败！请重新登录！',{yes:function(){
										parent.location.href = "../../enter.html";
									},cancel:function(){
										parent.location.href = "../../enter.html";
									}});
									return false;
								}
								if (data==1) {
									layer.alert('删除成功！');
									_this.parents('tr').remove();
									layer.close();
								}else{
									layer.alert('删除失败！');
								}												
							}
						});
					}
				});
			});
			
			
			
	</script>

</html>