<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>设置知识点</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
	</head>
	<body>
		<div class="main container-fluid">			
			<div class="numshu_btm state" style="border-top: 1px solid #CCD2D8;">
				<div class="form-group">
					<div class="col-sm-12">天门市初三年级3月统考</div>
				</div>
				<div class="table-responsive" style="width: 80%;">
					<table id="pointTable" class="table addlist text-center" style="border: 1px solid #CFCFCF;border-top: none;">
						<tr>
							<td><strong>序号</strong></td>
							<td><strong>科目</strong></td>
							<td><strong>知识点设置状态</strong></td>
							<td><strong>操作</strong></td>
						</tr>
						<tr>
							<td>1</td>
							<td>语文</td>
							<td>已设置</td>
							<td>
								<a href="#">设置</a>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>数学</td>
							<td>已设置</td>
							<td>
								<a href="#">设置</a>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>英语</td>
							<td>未设置</td>
							<td>
								<a href="#">设置</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/common/Jquery.3.1.1.js" ></script>
</html>
