<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>编辑版本</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../css/common/common.css" />
	</head>
	<body>
		<div class="main container-fluid">
			<div class="row head">
				<div class="btngroup">
					<input class="commonbtn" type="button" value="保存"/>
					<a href="versionManage_list.html"><input class="commonbtn" type="button" value="返回"/></a>
				</div>
			</div>
			<div class="numshu_btm state" style="border-top: 1px solid #CCD2D8;height: auto;">
				<form class="form-horizontal pad_l_40" role="form">
					<div class="form-group" style="height: 34px;"> 
						<label for="" class="col-sm-1 control-label text-center warn">版本名称</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" placeholder="">		
						</div>
					</div>
					<div class="form-group" style="height: 34px;"> 
						<label for="" class="col-sm-1 control-label text-center">排序</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" placeholder="">		
						</div>
					</div>
					<div class="form-group"> 
						<label for="" class="col-sm-1 control-label text-center">版本描述</label>
						<textarea class="col-sm-4" name="" rows="10" style="margin-left: 12px;resize: none;"></textarea>
					</div>
				</form>
				
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../../js/common/Jquery.3.1.1.js" ></script>
</html>



