<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>版本管理列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugin/layer/skin/layer.css"/>
		<link rel="stylesheet" href="../../../plugin/vue-pagination/index.css"/>
	</head>
	<body ng-app="app" ng-controller="ctrl">
		<style type="text/css">
			[v-cloak] {
			  display: none;
			}
		</style>
		<div class="main container-fluid">
			<div class="row head">
				<div class="btngroup">
					<a href="addVersion.html"><input class="commonbtn" type="button" value="新建"/></a>
				</div>
			</div>
			<div id="versions" class="numshu_btm state" style="border-top: 1px solid #CCD2D8;" v-cloak>
				<div class="table-responsive" >
					<table id="pointTable" class="table addlist text-center" style="border: 1px solid #CFCFCF;border-top: none;">
						<tr>
							<td><strong>序号</strong></td>
							<td><strong>版本名称</strong></td>
							<td><strong>排序</strong></td>
							<td><strong>版本描述</strong></td>
							<td><strong>启用状态</strong></td>
							<td><strong>操作</strong></td>
						</tr>
						<tr v-for="(item, index) in versions">
							<td>{{(cur - 1) * pagesize + index + 1}}</td>
							<td>{{item.title}}</td>
							<td>{{item.sn}}</td>
							<td>{{item.note}}</td>
							<td v-if="item.valid == '1'">启用</td>
							<td v-else>禁用</td>
							<td>
								<a v-bind:href="'editVersion.html?id=' + item.id">修改</a>
								<a href="javascript:;" class="_a_space forbidden" v-bind:id="item.id" v-if="item.valid == '1'" v-on:click="enableValid($event)">禁用</a>
								<a href="javascript:;" class="_a_space forbidden" v-bind:id="item.id" v-else v-on:click="enableValid($event)">启用</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="row">
					<div class="col-xs-6 col-sm-3" id="itemcount">
						<p>共&nbsp;&nbsp;<span>{{total}}</span>&nbsp;&nbsp;条记录</p>
					</div>
					<div id="app">
						<vue-nav :cur="cur" :all="all" :callback="callback"></vue-nav>
					</div>
				</div>
			</div>

		</div>
	</body>
	<script type="text/javascript" src="../../../js/common/jquery.min2.0.js" ></script>
	<script type="text/javascript" src="../../../plugin/layer/layer.js"></script>

	<script type="text/javascript" src="../../../js/dataUrl.js" ></script>
	<script type="text/javascript" src="../../../plugin/vue/vue.js"></script>
	<script type="text/javascript" src="../../../plugin/vue-pagination/vue-nav.js"></script>
	<script type="text/javascript">
		var vvm = null;

		$(document).ready(function() {
			vvm_init();
			getVersions(1);
		});

		function vvm_init(){
			vvm = new Vue({
				el: '#versions',
				data:{
					versions:[],
					total:0,
					cur: 1,
					all: 0,
					pagesize:10
				},
				components:{
					'vue-nav': Vnav
				},
				methods:{
					enableValid: function(event){
						console.log("eid: " + $(event.target).attr('id'));
						var vid = $(event.target).attr('id');
						for(var i = 0; i < this.versions.length; i++){
							if (this.versions[i]['id'] == vid){
								enableVersion(this.versions[i]);
							}
						}
					},
					callback(pa) {
						getVersions(pa);
					}
				}
			});
		}

		function getVersions(page){
			var pagesize = 10;
			var url = org_url + dataUrl['edition']['editionList'] + "?size=10&page=" + page;
			$.ajax({
				url: url,
				type: 'get',
				success: function(resp) {
					console.log("resp: " + JSON.stringify(resp));

					vvm.versions = resp['data'];
					vvm.total = resp['total'];
					vvm.cur = page;
					vvm.all = Math.ceil(resp['total'] / pagesize);
				},
				error: function(d, data) {
					console.log(data);
				},
				complete: function(data) {
				}
			});
		}

		function enableVersion(ver){
			var url = org_url + dataUrl['edition']['updateEdition'] + "/" + ver['id'];
			var version = {};
			version['id'] = ver['id'];
			var tmpvalid = (ver["valid"] == "1"?"0":"1");
			version['valid'] = tmpvalid;
			$.ajax({
				url: url,
				type: 'put',
				data: version,
				success: function(resp) {
					console.log("resp: " + JSON.stringify(resp));
					ver['valid'] = tmpvalid;
				},
				error: function(d, data) {
					console.log(data);
				},
				complete: function(data) {
				}
			});
		}
	</script>
</html>
