<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>版本管理列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugin/layer/skin/layer.css"/>
	</head>
	<body>
		<div class="main container-fluid">
			<div class="row head">
				<div class="btngroup">
					<a href="addVersion.html"><input class="commonbtn" type="button" value="新建"/></a>
				</div>
			</div>
			<div class="numshu_btm state" style="border-top: 1px solid #CCD2D8;">
				<div class="table-responsive" style="width: 80%;">
					<table id="pointTable" class="table addlist text-center" style="border: 1px solid #CFCFCF;border-top: none;">
						<tr>
							<td><strong>序号</strong></td>
							<td><strong>版本名称</strong></td>
							<td><strong>排序</strong></td>
							<td><strong>版本描述</strong></td>
							<td><strong>启用状态</strong></td>
							<td><strong>操作</strong></td>
						</tr>
						<tr>
							<td>1</td>
							<td>人教版</td>
							<td>1</td>
							<td><span class="overwidth">goodverygoodgoodverygood</span></td>
							<td>已启用</td>
							<td>
								<a href="editVersion.html">修改</a>
								<a class="forbidden">禁用</a>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>北师大版</td>
							<td>2</td>
							<td><span class="overwidth"></span></td>
							<td>已禁用</td>
							<td>
								<a href="editVersion.html">修改</a>
								<a class="forbidden">启用</a>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>华师大版</td>
							<td>3</td>
							<td><span class="overwidth"></span></td>
							<td>已禁用</td>
							<td>
								<a href="editVersion.html">修改</a>
								<a class="forbidden">启用</a>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>苏科版</td>
							<td>4</td>
							<td><span class="overwidth"></span></td>
							<td>已禁用</td>
							<td>
								<a href="editVersion.html">修改</a>
								<a class="forbidden">启用</a>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>湘教版</td>
							<td>5</td>
							<td><span class="overwidth"></span></td>
							<td>已启用</td>
							<td>
								<a href="editVersion.html">修改</a>
								<a class="forbidden">禁用</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../../js/dataManage/versionManage_list.js" ></script>
	<script type="text/javascript" src="../../../plugin/layer/layer.js"></script>
</html>

