<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>版本管理列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="../../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../plugin/layer/skin/layer.css"/>
		<!-- <link rel="stylesheet" href="../../../plugin/vue-pagination/index.css"/> -->
		<link rel="stylesheet" href="../../../plugin/paging/paging.css" />
	</head>
	<body ng-app="app" ng-controller="ctrl">
		<style type="text/css">
			[v-cloak] {
			  display: none;
			}
		</style>
		<div class="main container-fluid">
			<div class="row head">
				<div class="btngroup">
					<a href="addVersion.html"><input class="commonbtn" type="button" value="新建"/></a>
				</div>
			</div>
			<div id="versions" class="numshu_btm state" style="border-top: 1px solid #CCD2D8;" v-cloak>
				<div class="table-responsive" >
					<table id="pointTable" class="table addlist text-center" style="border: 1px solid #CFCFCF;border-top: none;">
						<tr>
							<td><strong>序号</strong></td>
							<td><strong>版本名称</strong></td>
							<td><strong>排序</strong></td>
							<td><strong>版本描述</strong></td>
							<td><strong>启用状态</strong></td>
							<td><strong>操作</strong></td>
						</tr>
						<tr v-for="(item, index) in versions">
							<td>{{(page - 1) * pagesize + index + 1}}</td>
							<td>{{item.title}}</td>
							<td>{{item.sn}}</td>
							<td>{{item.note}}</td>
							<td v-if="item.valid == '1'">启用</td>
							<td v-else>禁用</td>
							<td>
								<a v-bind:href="'editVersion.html?id=' + item.id">修改</a>
								<a href="javascript:;" class="_a_space forbidden" v-bind:id="item.id" v-if="item.valid == '1'" v-on:click="enableValid($event, index)">禁用</a>
								<a href="javascript:;" class="_a_space forbidden" v-else v-on:click="enableValid($event, index)">启用</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="row pro_list_btm">
						<div class="col-xs-6 col-sm-3 text-center">
						</div>
						<div class="col-xs-7 col-sm-9">
							<div id="pageToolbar" style="float: right;margin-right: 20px;"></div>
						</div>
				</div>
			</div>

		</div>
	</body>
	<script type="text/javascript" src="../../../js/common/jquery.min2.0.js" ></script>
	<script type="text/javascript" src="../../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../../js/dataUrl.js" ></script>
	<script type="text/javascript" src="../../../plugin/vue/vue.js"></script>
	<script type="text/javascript" src="../../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../../js/dataManage/apicontainer.js" ></script>
	<script type="text/javascript" src="../../../js/commonutil.js" ></script>
	<script type="text/javascript">
		var vvm = null;

		$(document).ready(function() {
			vvm_init();
			getVers()
		});

		function vvm_init(){
			vvm = new Vue({
				el: '#versions',
				data:{
					versions:[],
					page:1,
					pagesize:10,
					total:0
				},
				methods:{
					enableValid: function(event, index){
						var tmpvalid = (this.versions[index]['valid'] == "1" ? "0" : "1");
						enableVersion(function(){
							promptMsg("成功");
							this.vvm.versions[index]['valid'] = tmpvalid;
						}, this.versions[index]['id'], tmpvalid);
					}
				}
			});
		}

		//获取版本列表
		function getVers(){
			getVersions(function(resp){
				if (vvm.page == 1){
					vvm.versions = [];
					vvm.versions = vvm.versions.concat(resp['data']);
					vvm.total = resp['total'];
					paging();
				}else{
					vvm.versions = [];
					vvm.versions = vvm.versions.concat(resp['data']);
					vvm.total = resp['total'];
				}
			}, vvm.page, vvm.pagesize);
		}

		function paging(){
			$('#pageToolbar').html('');
			$('#pageToolbar').Paging({
				pagesize: vvm.pagesize,
				count: vvm.total,
				toolbar: true,
				hash: true,
				callback: function(page, size, count) {
					vvm.page = page;
					getVers();
				},
				changePagesize:function(ps){
					vvm.pagesize = ps;
					getVers();
				}
			});
		}
	</script>
</html>
