<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改章节</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/common/reset.css"/>
		<link rel="stylesheet" href="../../plugin/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/common/common.css" />
		<link rel="stylesheet" href="../../plugin/layer/skin/layer.css"/>
	</head>
	<body>
		<style type="text/css">
			[v-cloak] {
			  display: none;
			}
		</style>
		<div class="main container-fluid" id="chaptermain" v-cloak>
			<div class="row head">
				<div class="btngroup">
					<input class="commonbtn preserve" type="button" value="保存" v-on:click="submit($event)"/>
					<a href="chapterList.html"><input class="commonbtn" type="button" value="返回"/></a>
				</div>
			</div>
			<div class="numshu_btm state" style="border-top: 1px solid #CCD2D8;height: auto;">
				<form class="form-horizontal pad_l_40" role="form">
					<div class="form-group" style="height: 34px;"> 
						<label for="" class="col-sm-1 control-label text-center warn">学段</label>
						<div class="col-sm-2">
							<select class="form-control _select" v-model="selectedStage">
								<option v-bind:value="2">小学</option>
								<option v-bind:value="3">初中</option>
								<option v-bind:value="4">高中</option>
							</select>	
						</div>
					</div>
					<div class="form-group" style="height: 34px;"> 
						<label for="" class="col-sm-1 control-label text-center warn">科目</label>
						<div class="col-sm-2">
							<select class="form-control _select" v-model="selectedCourse">
								<option v-for="course in courses" v-bind:value="course.id">
									{{ course.title }}
								</option>
							</select>	
						</div>
					</div>
					<div class="form-group" style="height: 34px;" v-if="selectedEdtion!=null"> 
						<label for="" class="col-sm-1 control-label text-center warn">版本</label>
						<div class="col-sm-2">
							<select class="form-control _select" v-model="selectedEdtion" >
								<option v-for="edition in editions" v-bind:value="edition.id">
									{{ edition.title }}
								</option>
							</select>		
						</div>
					</div>
					<div class="form-group" style="height: 34px;" v-if="selectedTerm!=null"> 
						<label for="" class="col-sm-1 control-label text-center warn">年级/课本</label>
						<div class="col-sm-2">
							<select class="form-control _select" v-model="selectedTerm" >
								<option v-for="term in terms" v-bind:value="term.id">
									{{ term.title }}
								</option>
							</select>	
						</div>
					</div>
				</form>
				
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../js/common/Jquery.3.1.1.js" ></script>
	<script type="text/javascript" src="../../plugin/paging/query.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugin/paging/paging.js"></script>
	<script type="text/javascript" src="../../plugin/layer/layer.js"></script>
	<script type="text/javascript" src="../../js/dataUrl.js" ></script>
	<script type="text/javascript" src="../../plugin/vue/vue.js"></script>
	<script type="text/javascript" src="../../js/dataManage/apicontainer.js" ></script>
	<script type="text/javascript" src="../../js/commonutil.js" ></script>
	<script type="text/javascript">
		var vvm = null;
		$(document).ready(function() {
			vm_init();
			getEds();
			vvm.vid = getQueryString('id');
		});

		function vm_init(){
			vvm = new Vue({
				el: '#chaptermain',
				data:{
					vid: null,
					courses : [],
					editions : [],
					terms : [],
					textbook: null,
					selectedStage : null,
					selectedCourse : null,
					selectedEdtion : null,
					selectedTerm : null
				},
				methods:{
					submit: function($event){
						vvm.textbook['textbooktype'] = "1";
						vvm.textbook['stageid'] = vvm.selectedStage;
						vvm.textbook['courseid'] = vvm.selectedCourse;
						if (vvm.selectedEdtion){
							vvm.textbook['editionid'] = vvm.selectedEdtion;
							vvm.textbook['textbooktype'] = "2";
						}
						if(vvm.selectedTerm){
							vvm.textbook['termid'] = vvm.selectedTerm;
						}
						
						updateTextbook(function(resp){
							commonMsg("修改成功", function(){
								window.location.href = 'chapterList.html';
							});
						}, vvm.textbook);
					}
				}
			});
		}

		function getEds(){
			//FIXME 为了一次取出所有记录，定义一个大数
			var pagesize = 1000000;
			var page = 1;
			getEditions(function (resp){
				vvm.editions = vvm.editions.concat(resp['data']);
	            getTms();
			}, page, pagesize);
		}

		function getTms(){
			var pagesize = 1000000;
			var page = 1;
			getTerms(function (resp){
				vvm.terms = vvm.terms.concat(resp['data']);
				getCrs();
			}, page, pagesize);
		}

		function getCrs(){
			var pagesize = 1000000;
			var page = 1;
			getCourses(function(resp){
				vvm.courses = vvm.courses.concat(resp['data']);
				getTextbook(function(resp){
					// console.log("resp: " + JSON.stringify(resp));
					vvm.textbook = resp;
					vvm.selectedStage = resp['stageid'];
					vvm.selectedCourse = resp['courseid'];
					vvm.selectedEdtion = resp['editionid'];
					vvm.selectedTerm = resp['termid'];
					// console.log("selectedStage: " + vvm.selectedStage + ", vvm.selectedCourse: " + vvm.selectedCourse);
					// console.log("selectedEdtion: " + vvm.selectedEdtion + ", vvm.selectedTerm: " + vvm.selectedTerm);
				}, vvm.vid);
			}, page, pagesize);
		}
	</script>
</html>



